<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{authService.session.commonName}},  {{authService.session.instituteName}} {{authService.session.roomName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeWindow()">
        <ion-badge color="secondary" slot="end">118k</ion-badge>
      </ion-button>
      <ion-button fill="clear" (click)="retirectToSettings($event)" matTooltip="{{ 'Edit user preferences' | translate }}">
        <ion-icon color="danger" name="person"></ion-icon>
      </ion-button>
      <ion-button  fill="clear" (click)="logOut($event)">
        <ion-icon color="danger" name="walk"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


