<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button authoHide="utilService.okBrowser">
        <img src="assets/images/logo/cranix_school.svg" width="32" height="32">
      </ion-menu-button>
    </ion-buttons>  
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="objectService.initialize(true)" matTooltip="{{ 'Refresh all objects' | translate }}">
        <ion-icon color="tertiary" name="refresh"></ion-icon>
      </ion-button>
      <!--ion-button fill="clear" (click)="closeWindow()">
        <ion-badge color="secondary" slot="end">118k</ion-badge>
      </ion-button -->
      <ion-button fill="clear" (click)="retirectToSettings($event)" matTooltip="{{ 'Edit user preferences' | translate }}">
        <ion-icon color="success" name="person"></ion-icon>
      </ion-button>
      <ion-button  fill="clear" (click)="logOut($event)">
        <ion-icon color="danger" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-title>{{authService.session.commonName}}  {{authService.session.instituteName}} {{authService.session.roomName}}</ion-title>
  </ion-toolbar>
</ion-header>


