
<form #editForm="ngForm">
  <cranix-toolbar title="{{ 'Modify selected institute:' | translate}} {{object.name}}"></cranix-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="details">
      <ion-segment-button value="details">
        <ion-label>{{'Details' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="manager">
        <ion-label>{{'Manager' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dyndns" *ngIf="authService.isAllowed('customer.manage')">
        <ion-label>{{'dynDNS' | translate}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contract" *ngIf="authService.isAllowed('customer.manage')">
        <ion-label>{{'Contract' | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-buttons  *ngIf="!authService.isMD()" slot="end">
      <ion-button size="small" fill="solid" fill="clear" class="ion-no-margin" [disabled]="!editForm.valid"
        matTooltip="{{'Apply changes' | translate }}" (click)="onSubmit(editForm.value)">
        <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" (click)="setNextDefaults()"
        matTooltip="{{'Set the next default values' | translate }}">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" (click)="writeConfig()"
        matTooltip="{{'Write configuration and create installation image' | translate }}">
        <ion-icon slot="icon-only" name="server"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" href="/isos/{{isourl}}.iso"
        matTooltip="{{'Download the installation image' | translate }}">
        <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" href="/configs/{{isourl}}full-connect.sh"
        matTooltip="{{'Download the setup script' | translate }}">
        <ion-icon slot="icon-only" name="download"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" fill="clear" (click)="delete($event)"
        matTooltip="{{'Delete institute' | translate }}">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content fullscreen *ngIf="segment=='details'">
    <ion-fab *ngIf="authService.isMD()" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button size="small">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button (click)="onSubmit(editForm.value)">
          <ion-icon color="success" name="checkmark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="setNextDefaults()">
          <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="writeConfig()">
          <ion-icon name="server"></ion-icon>
        </ion-fab-button>
        <ion-fab-button href="/configs/{{isourl}}full-connect.sh">
          <ion-icon name="download"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="delete($event)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-grid>
      <ion-row>
        <ion-col size=12 sizeMd=6 sizeLg=4 sizeXl=3 *ngFor="let key of objectKeys;"
          [ngSwitch]="objectService.typeOf(key,object,'edit')">
          <ion-item *ngSwitchCase="'string'">
            <ion-label position="stacked">{{ key | translate }}{{objectService.required[key]}}</ion-label>
            <ng-template [ngIf]="objectService.selects[key]" [ngIfElse]="elseBlock">
              <ion-select type="text" [(ngModel)]="object[key]" name="{{key}}" [compareWith]="objectService.compareFn"
                [required]="objectService.required[key]">
                <ion-select-option *ngFor="let option of  objectService.selects[key]" value="{{option}}">
                  {{option | translate}}</ion-select-option>
              </ion-select>
            </ng-template>
            <ng-template #elseBlock>
              <ion-input type="text" [(ngModel)]="object[key]" name="{{key}}" value="{{object[key]}}"
                [required]="objectService.required[key]"></ion-input>
            </ng-template>
          </ion-item>
          <ion-item *ngSwitchCase="'stringRO'">
            <ion-label position="stacked">{{ key | translate }}</ion-label>
            <ion-input color="tertiary" type="text" [(ngModel)]="object[key]" name="{{key}}" value="{{object[key]}}"
              readonly>
            </ion-input>
          </ion-item>
          <ion-item *ngSwitchCase="'date'">
            <ion-label position="stacked">{{ key | translate }}</ion-label>
            <input [(ngModel)]="object[key]" name="{{key}}" type="date">
          </ion-item>
          <ion-item *ngSwitchCase="'number'">
            <ion-label position="stacked">{{ key | translate }}</ion-label>
            <input [(ngModel)]="object[key]" name="{{key}}" type="number">
          </ion-item>
          <ion-item *ngSwitchCase="'numberRO'">
            <ion-label position="stacked">{{ key | translate }}</ion-label>
            <input [(ngModel)]="object[key]" name="{{key}}" type="number" readonly>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-content fullscreen *ngIf="segment=='manager'">
    <ion-list>
      <ion-item *ngFor="let user of users">
        <ion-label>{{user.fullName}} </ion-label>
        <ion-checkbox slot="end" (ionChange)="managerChanged(user.id)" [checked]="managers[user.id]"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content fullscreen *ngIf="segment=='dyndns'">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{ 'Actuall IP' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="dynDnsIp" name="dynDnsIp" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'Name' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="dynDnsName" name="dynDnsName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'Domain' | translate}}</ion-label>
        <ion-select [(ngModel)]="dynDnsDomain" [compareWith]="objectService.compareFn" name="dynDnsDomain">
          <ion-select-option *ngFor="let domain of dynDnsDomains" [value]="domain">
            {{domain}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'Port' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="dynDnsPort" name="dynDnsPort"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'Must not change' | translate}}</ion-label>
        <ion-checkbox [(ngModel)]="dynDnsRo" name="dynDnsRo"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content fullscreen *ngIf="segment=='contract'">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{ 'description' | translate}}</ion-label>
        <ion-select [(ngModel)]="care.description" name="careDescription">
          <ion-select-option value="CRANIX Base">{{'CRANIX Base' | translate }}</ion-select-option>
          <ion-select-option value="CRANIX Extended">{{'CRANIX Extended' | translate }}</ion-select-option>
          <ion-select-option value="CRANIX Plus">{{'CRANIX Plus' | translate }}</ion-select-option>
          <ion-select-option value="CRANIX Mail">{{'CRANIX Mail' | translate }}</ion-select-option>
          <ion-select-option value="Private">{{'Private' | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'access' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="care.access" name="careAccess"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'contact' | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="care.contact" name="careContact"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'AddOns' | translate}}</ion-label>
        <ion-select [(ngModel)]="addons" name="addons" multiple="true" [compareWith]="compareAddons"
          (ionChange)="addonChanged()">
          <ion-select-option *ngFor="let addon of allAddons" [value]="addon">{{ addon.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
</form>