<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-row class="header-row">
  <ion-col size=6>
    <ion-title>{{ 'Modify selected institute:' | translate}} "{{object.name}}"</ion-title>
  </ion-col>
  <ion-col size=3></ion-col>
</ion-row>
<ion-content>
  <ion-card>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
      <ion-card-header>
        <ion-row class="ion-align-items-right">
          <ion-col size=0 sizeMd=6 sizeLg=8 sizeXl=8></ion-col>
          <ion-col size=12 sizeMd=6 sizeLg=4 sizeXl=4>
            <ion-button size="small" fill="clear" type="submit" class="ion-no-margin" [disabled]="!editForm.valid"
              matTooltip="{{'Apply changes' | translate }}">
              <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" (click)="setNextDefaults()"
              matTooltip="{{'Set the next default values' | translate }}">
              <ion-icon slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" (click)="writeConfig()"
              matTooltip="{{'Write configuration and create installation image' | translate }}">
              <ion-icon slot="icon-only" name="server"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" href="/isos/{{isourl}}.iso"
              matTooltip="{{'Download the installation image' | translate }}">
              <ion-icon slot="icon-only" name="arrow-down-circle"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" href="/configs/{{isourl}}full-connect.sh"
              matTooltip="{{'Download the setup script' | translate }}">
              <ion-icon slot="icon-only" name="download"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" (click)="delete($event)"
              matTooltip="{{'Delete institute' | translate }}">
              <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size=12 sizeMd=6 sizeLg=4 sizeXl=3 *ngFor="let key of objectKeys;"
              [ngSwitch]="objectService.typeOf(key,object,'edit')">
              <ion-item *ngSwitchCase="'booleanTrue'">
                <ion-label>{{ key | translate }}</ion-label>
                <ion-toggle slot="start" formControlName="{{key}}" color="secondary" checked></ion-toggle>
              </ion-item>
              <ion-item *ngSwitchCase="'booleanFalse'">
                <ion-label>{{ key | translate }}</ion-label>
                <ion-toggle slot="start" formControlName="{{key}}" color="secondary"></ion-toggle>
              </ion-item>
              <ion-item *ngSwitchCase="'string'">
                <ion-label position="stacked">{{ key | translate }}{{objectService.required[key]}}</ion-label>
                <!--ion-item *ngIf="editForm.controls[key].hasError('required') && editForm.controls[key].touched"-->
                <ion-label position="stacked"
                  *ngIf="editForm.controls[key].hasError('required')  && editForm.controls[key].touched">
                  {{ 'This field is required!' | translate }}</ion-label>
                <ng-template [ngIf]="objectService.selects[key]" [ngIfElse]="elseBlock">
                  <ion-select type="text" formControlName="{{key}}" [compareWith]="objectService.compareFn"
                    [required]="objectService.required[key]">
                    <ion-select-option *ngFor="let option of  objectService.selects[key]" value="{{option}}">
                      {{option | translate}}</ion-select-option>
                  </ion-select>
                </ng-template>
                <ng-template #elseBlock>
                  <ion-input type="text" formControlName="{{key}}" value="{{object[key]}}"
                    [required]="objectService.required[key]"></ion-input>
                </ng-template>
              </ion-item>
              <ion-item *ngSwitchCase="'stringRO'">
                <ion-label position="stacked">{{ key | translate }}</ion-label>
                <ion-input color="tertiary" type="text" formControlName="{{key}}" value="{{object[key]}}" readonly>
                </ion-input>
              </ion-item>
              <ion-item *ngSwitchCase="'text'">
                <ion-label position="stacked">{{ key | translate }}</ion-label>
                <ion-textarea color="tertiary" formControlName="{{key}}" value="{{object[key]}}">
                </ion-textarea>
              </ion-item>
              <ion-item *ngSwitchCase="'date'">
                <ion-label>{{ key | translate }}</ion-label>
                <ion-datetime formControlName="{{key}}" max="2100" value="{{object[key] | date:'yyyy-MM-dd'}}">
                </ion-datetime>
              </ion-item>
              <ion-item *ngSwitchCase="'date-time'">
                <ion-label>{{ key | translate }}</ion-label>
                <ion-datetime formControlName="{{key}}" max="2100"
                  value="{{object[key] | date:'yyyy-MM-dd HH:mm:ss Z'}}">
                </ion-datetime>
              </ion-item>
              <ion-item *ngSwitchCase="'idPipe'">
                <ion-label position="stacked">{{ key | translate }}</ion-label>
                <ion-input color="tertiary" type="text" formControlName="{{key}}"
                  value="{{object[key] | idToName:'customer'}}" readonly>
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
