<cranix-toolbar title="{{'Manage institutes' | translate}}"></cranix-toolbar>
<ion-searchbar *ngIf="authService.isMD()" placeholder="{{'search' | translate }}"
  (input)="onQuickFilterChanged('managedInstitutesFilterMD')" id="managedInstitutesFilterMD" showCancelButton="never"
  class="hidden-lg hidden-xl"></ion-searchbar>
<ion-content id="carded">
  <ion-fab *ngIf="instituteView" vertical="top" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="arrow-undo" (click)="userList()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="checkmark" (click)="showSelected()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-toolbar class="page-toolbar">
    <ion-item lines="none">
      <ion-label position="stacked" *ngIf="instituteView">{{'Select institutes to manage by:' | translate}}
        {{selectedManager.fullName}}</ion-label>
      <ion-label position="stacked" *ngIf="!instituteView">{{'Click on user to select managed institutes' | translate}}
      </ion-label>
      <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('managedInstitutesFilter')"
        id="managedInstitutesFilter">
      </ion-input>
      <ion-label *ngIf="instituteView">{{ 'Count of managed institutes:' | translate}}</ion-label>
      <ion-label *ngIf="instituteView">{{managedIds.length}}</ion-label>
    </ion-item>
    <ion-buttons *ngIf="instituteView" slot="end">
      <ion-button size="small" fill="solid" (click)="userList()" matTooltip="{{'Go back to user list' | translate }}">
        <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" (click)="showSelected()"
        matTooltip="{{'Show the managed institutes.' | translate }}">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" (click)="showAll()" matTooltip="{{'Show all institutes.' | translate }}">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ag-grid-angular id="instituteManageTable" style="width: 100%; height: 92%;" rowSelection="multiple"
    class="{{authService.settings.agGridThema}}" [rowHeight]="authService.settings.rowHeight" [context]="context"
    [rowData]="rowData" [defaultColDef]="defaultColDef" [columnDefs]="columnDefs"
    [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</ion-content>