<!--ion-header>
  <ion-toolbar>
    <ion-title>{{ users | translate }}</ion-title>
  </ion-toolbar>
</ion-header-->

<cranix-toolbar></cranix-toolbar>
<ion-content class="ion-padding">
  <div>
    <!-- mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field -->
    <ion-searchbar (keyup)="doFilter($event.target.value)"></ion-searchbar>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'id' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let object">{{object.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="uid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'uid' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.uid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'surName' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.surName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="givenName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'givenName' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.givenName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'role' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <ion-button size="small"  (click)="redirectToAdd()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="openActions($event)">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <ion-button size="small"  (click)="openCollums($event)">
          <ion-icon slot="icon-only" name="apps"></ion-icon>
        </ion-button>
        <!--ion-button  color="black" (click)="openPopover()">
          {{ 'actions' | translate }}
        </ion-button-->
      </mat-header-cell>
      <mat-cell *matCellDef="let object" (click)="$event.stopPropagation()">
        <ion-button fill="clear"  size="small" (click)="redirectToEdit(object)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button  fill="clear" size="small" (click)="setPasswor(object)">
          <ion-icon slot="icon-only" color="success" name="key-outline"></ion-icon>
        </ion-button>
        <ion-button  fill="clear" size="small" (click)="redirectToDelete(object)">
          <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
        </ion-button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
  </table>
  <!-- at-paginator [pageSizeOptions]="[1, 2, 5]" showFirstLastButtons></mat-paginator -->
</ion-content>