# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/src/main.ts
/src/assets/custom-ion-icons/add-circle-outline.svg
/src/assets/custom-ion-icons/add-circle-sharp.svg
/src/assets/custom-ion-icons/add-circle.svg
/src/assets/custom-ion-icons/apps-outline.svg
/src/assets/custom-ion-icons/apps-sharp.svg
/src/assets/custom-ion-icons/apps.svg
/src/assets/custom-ion-icons/arrow-down-circle-outline.svg
/src/assets/custom-ion-icons/arrow-down-circle-sharp.svg
/src/assets/custom-ion-icons/arrow-down-circle.svg
/src/assets/custom-ion-icons/arrow-forward-circle-outline.svg
/src/assets/custom-ion-icons/arrow-forward-circle-sharp.svg
/src/assets/custom-ion-icons/arrow-forward-circle.svg
/src/assets/custom-ion-icons/build-outline.svg
/src/assets/custom-ion-icons/build-sharp.svg
/src/assets/custom-ion-icons/build.svg
/src/assets/custom-ion-icons/business-outline.svg
/src/assets/custom-ion-icons/business-sharp.svg
/src/assets/custom-ion-icons/business.svg
/src/assets/custom-ion-icons/calendar-outline.svg
/src/assets/custom-ion-icons/calendar-sharp.svg
/src/assets/custom-ion-icons/calendar.svg
/src/assets/custom-ion-icons/caret-back-outline.svg
/src/assets/custom-ion-icons/caret-back-sharp.svg
/src/assets/custom-ion-icons/caret-back.svg
/src/assets/custom-ion-icons/checkmark-outline.svg
/src/assets/custom-ion-icons/checkmark-sharp.svg
/src/assets/custom-ion-icons/checkmark.svg
/src/assets/custom-ion-icons/close-outline.svg
/src/assets/custom-ion-icons/close-sharp.svg
/src/assets/custom-ion-icons/close.svg
/src/assets/custom-ion-icons/cloud-download-outline.svg
/src/assets/custom-ion-icons/cloud-download-sharp.svg
/src/assets/custom-ion-icons/cloud-download.svg
/src/assets/custom-ion-icons/cloud-upload-outline.svg
/src/assets/custom-ion-icons/cloud-upload-sharp.svg
/src/assets/custom-ion-icons/cloud-upload.svg
/src/assets/custom-ion-icons/code-working-outline.svg
/src/assets/custom-ion-icons/code-working-sharp.svg
/src/assets/custom-ion-icons/code-working.svg
/src/assets/custom-ion-icons/cog-outline.svg
/src/assets/custom-ion-icons/cog-sharp.svg
/src/assets/custom-ion-icons/cog.svg
/src/assets/custom-ion-icons/create-outline.svg
/src/assets/custom-ion-icons/create-sharp.svg
/src/assets/custom-ion-icons/create.svg
/src/assets/custom-ion-icons/cube-outline.svg
/src/assets/custom-ion-icons/cube-sharp.svg
/src/assets/custom-ion-icons/cube.svg
/src/assets/custom-ion-icons/desktop-outline.svg
/src/assets/custom-ion-icons/desktop-sharp.svg
/src/assets/custom-ion-icons/desktop.svg
/src/assets/custom-ion-icons/download-outline.svg
/src/assets/custom-ion-icons/download-sharp.svg
/src/assets/custom-ion-icons/download.svg
/src/assets/custom-ion-icons/ellipsis-vertical-outline.svg
/src/assets/custom-ion-icons/ellipsis-vertical-sharp.svg
/src/assets/custom-ion-icons/ellipsis-vertical.svg
/src/assets/custom-ion-icons/eye-outline.svg
/src/assets/custom-ion-icons/eye-sharp.svg
/src/assets/custom-ion-icons/eye.svg
/src/assets/custom-ion-icons/folder-outline.svg
/src/assets/custom-ion-icons/folder-sharp.svg
/src/assets/custom-ion-icons/folder.svg
/src/assets/custom-ion-icons/hammer-outline.svg
/src/assets/custom-ion-icons/hammer-sharp.svg
/src/assets/custom-ion-icons/hammer.svg
/src/assets/custom-ion-icons/help-buoy-outline.svg
/src/assets/custom-ion-icons/help-buoy-sharp.svg
/src/assets/custom-ion-icons/help-buoy.svg
/src/assets/custom-ion-icons/help-outline.svg
/src/assets/custom-ion-icons/help-sharp.svg
/src/assets/custom-ion-icons/help.svg
/src/assets/custom-ion-icons/key-outline.svg
/src/assets/custom-ion-icons/key-sharp.svg
/src/assets/custom-ion-icons/key.svg
/src/assets/custom-ion-icons/list-outline.svg
/src/assets/custom-ion-icons/list-sharp.svg
/src/assets/custom-ion-icons/list.svg
/src/assets/custom-ion-icons/log-in-outline.svg
/src/assets/custom-ion-icons/log-in-sharp.svg
/src/assets/custom-ion-icons/log-in.svg
/src/assets/custom-ion-icons/log-out-outline.svg
/src/assets/custom-ion-icons/log-out-sharp.svg
/src/assets/custom-ion-icons/log-out.svg
/src/assets/custom-ion-icons/mail-open-outline.svg
/src/assets/custom-ion-icons/mail-open-sharp.svg
/src/assets/custom-ion-icons/mail-open.svg
/src/assets/custom-ion-icons/mail-outline.svg
/src/assets/custom-ion-icons/mail-sharp.svg
/src/assets/custom-ion-icons/mail.svg
/src/assets/custom-ion-icons/pencil-outline.svg
/src/assets/custom-ion-icons/pencil-sharp.svg
/src/assets/custom-ion-icons/pencil.svg
/src/assets/custom-ion-icons/people-circle-outline.svg
/src/assets/custom-ion-icons/people-circle-sharp.svg
/src/assets/custom-ion-icons/people-circle.svg
/src/assets/custom-ion-icons/people-outline.svg
/src/assets/custom-ion-icons/people-sharp.svg
/src/assets/custom-ion-icons/people.svg
/src/assets/custom-ion-icons/person-outline.svg
/src/assets/custom-ion-icons/person-sharp.svg
/src/assets/custom-ion-icons/person.svg
/src/assets/custom-ion-icons/power-outline.svg
/src/assets/custom-ion-icons/power-sharp.svg
/src/assets/custom-ion-icons/power.svg
/src/assets/custom-ion-icons/print-outline.svg
/src/assets/custom-ion-icons/print-sharp.svg
/src/assets/custom-ion-icons/print.svg
/src/assets/custom-ion-icons/reader-outline.svg
/src/assets/custom-ion-icons/reader-sharp.svg
/src/assets/custom-ion-icons/reader.svg
/src/assets/custom-ion-icons/receipt-outline.svg
/src/assets/custom-ion-icons/receipt-sharp.svg
/src/assets/custom-ion-icons/receipt.svg
/src/assets/custom-ion-icons/refresh-circle-outline.svg
/src/assets/custom-ion-icons/refresh-circle-sharp.svg
/src/assets/custom-ion-icons/refresh-circle.svg
/src/assets/custom-ion-icons/refresh-outline.svg
/src/assets/custom-ion-icons/refresh-sharp.svg
/src/assets/custom-ion-icons/refresh.svg
/src/assets/custom-ion-icons/reload-outline.svg
/src/assets/custom-ion-icons/reload-sharp.svg
/src/assets/custom-ion-icons/reload.svg
/src/assets/custom-ion-icons/remove-circle-outline.svg
/src/assets/custom-ion-icons/remove-circle-sharp.svg
/src/assets/custom-ion-icons/remove-circle.svg
/src/assets/custom-ion-icons/save-outline.svg
/src/assets/custom-ion-icons/save-sharp.svg
/src/assets/custom-ion-icons/save.svg
/src/assets/custom-ion-icons/server-outline.svg
/src/assets/custom-ion-icons/server-sharp.svg
/src/assets/custom-ion-icons/server.svg
/src/assets/custom-ion-icons/shuffle-outline.svg
/src/assets/custom-ion-icons/shuffle-sharp.svg
/src/assets/custom-ion-icons/shuffle.svg
/src/assets/custom-ion-icons/stats-chart-outline.svg
/src/assets/custom-ion-icons/stats-chart-sharp.svg
/src/assets/custom-ion-icons/stats-chart.svg
/src/assets/custom-ion-icons/stop-circle-outline.svg
/src/assets/custom-ion-icons/stop-circle-sharp.svg
/src/assets/custom-ion-icons/stop-circle.svg
/src/assets/custom-ion-icons/trash-outline.svg
/src/assets/custom-ion-icons/trash-sharp.svg
/src/assets/custom-ion-icons/trash.svg
/src/assets/custom-ion-icons/trending-up-outline.svg
/src/assets/custom-ion-icons/trending-up-sharp.svg
/src/assets/custom-ion-icons/trending-up.svg
/src/assets/custom-ion-icons/wifi-outline.svg
/src/assets/custom-ion-icons/wifi-sharp.svg
/src/assets/custom-ion-icons/wifi.svg
