<cranix-toolbar></cranix-toolbar>
@if(selectedPTM == null){
<ion-content>
    <h1>{{'There is no PTM' | translate}} </h1>
</ion-content>
}@else{
<ion-content>
    <ion-list>
        <ion-list-header lines="full">
            {{selectedPTM.title}}
        </ion-list-header>
        <ion-item>
            <ion-label>{{'From'|translate}}</ion-label>
            <input [(ngModel)]="selectedPTM.start" name="startTime" type="datetime-local" readonly />
        </ion-item>
        <ion-item>
            <ion-label>{{'Until'|translate}}</ion-label>
            <input [(ngModel)]="selectedPTM.end" name="endTime" type="datetime-local" readonly />
        </ion-item>
        <ion-item>
            <ion-label>{{'Duration of a Session'|translate}}</ion-label>
            <input [(ngModel)]="selectedPTM.duration" type="number" readonly />
        </ion-item>
        <ion-item>
            <ion-label>{{'Start Parent Registration'|translate}}</ion-label>
            <input [(ngModel)]="selectedPTM.startRegistration" name="startTime" type="datetime-local" readonly />
        </ion-item>
        <ion-item>
            <ion-label>{{'End Parent Registration'|translate}}</ion-label>
            <input [(ngModel)]="selectedPTM.endRegistration" name="endTime" type="datetime-local" readonly />
        </ion-item>
        <ion-item>
            <ion-label>{{'Register a room'|translate}}</ion-label>
            <ionic-selectable #ionicSelectRoom itemValueField="id" itemTextField="description" [isMultiple]="false"
                [(ngModel)]="myPTMTeacherInRoom.room" [ngModelOptions]="{standalone: true}" [items]="freeRooms"
                [canSearch]="true" (onChange)="selectRoom()">
            </ionic-selectable>
        </ion-item>
    </ion-list>
</ion-content>
}