<cranix-toolbar title="Parent teacher meeting"></cranix-toolbar>
<ion-content>
    @if(!selectedPTM){
    @if(noPTM){
    <h1>{{'There is no PTM'|translate}}</h1>
    }@else if(nextPtms.length == 0) {
    <h1>{{'Loading Data' | translate}} </h1>
    }@else{
    <ion-item *ngFor="let ptm of nextPtms">
        <ion-button fill="clear" expand="full" (click)="selectPTM(ptm)">{{ptm.title}}</ion-button>
    </ion-item>
    }
    }@else{
    <!-- ion-accordion-group expand="inset" (value)="myPTMTeacherInRoom.id == 0 ? 'first' : 'regs' " -->
    <ion-accordion-group expand="inset" value="first">
        <ion-accordion value="first">
            <ion-item slot="header">
                <ion-label>{{selectedPTM.title}}</ion-label>
                @if(nextPtms.length > 1) {
                <ion-button fill="clear" (click)="deselect()">
                    <ion-icon name="close" color="danger"></ion-icon>
                </ion-button>
                }
            </ion-item>
            <ion-list slot="content">
                <ion-item>
                    <ion-label>{{'From'|translate}}</ion-label>
                    <input [(ngModel)]="selectedPTM.start" name="startTime" type="datetime-local" readonly />
                </ion-item>
                <ion-item>
                    <ion-label>{{'Until'|translate}}</ion-label>
                    <input [(ngModel)]="selectedPTM.end" name="endTime" type="datetime-local" readonly />
                </ion-item>
                <ion-item>
                    <ion-label>{{'Duration of a Session'|translate}}</ion-label>
                    <input [(ngModel)]="selectedPTM.duration" type="number" readonly />
                </ion-item>
                <ion-item>
                    <ion-label>{{'Start Parent Registration'|translate}}</ion-label>
                    <input [(ngModel)]="selectedPTM.startRegistration" name="startTime" type="datetime-local"
                        readonly />
                </ion-item>
                <ion-item>
                    <ion-label>{{'End Parent Registration'|translate}}</ion-label>
                    <input [(ngModel)]="selectedPTM.endRegistration" name="endTime" type="datetime-local" readonly />
                </ion-item>
                @if(myPTMTeacherInRoom.id == 0){
                <ion-item>
                    @if(authService.isAllowed('ptm.registerRoom')){
                    <ion-label>{{'Register a room'|translate}}</ion-label>
                    <ionic-selectable #ionicSelectRoom itemValueField="id" itemTextField="description"
                        [isMultiple]="false" [(ngModel)]="myPTMTeacherInRoom.room" [ngModelOptions]="{standalone: true}"
                        [items]="freeRooms" [canSearch]="true" (onChange)="selectRoom()">
                    </ionic-selectable>
                    }@else{
                    {{'You have to wait until a room will be reserved for you.'|translate}}
                    }
                </ion-item>
                }@else{
                <ion-item>
                    <ion-label>{{'Room'|translate}} </ion-label>
                    <ion-label>{{myPTMTeacherInRoom.room.name}}</ion-label>
                </ion-item>
                }
            </ion-list>
        </ion-accordion>
        @if(myPTMTeacherInRoom.id != 0){
        <ion-accordion value="regs">
            <ion-item slot="header">
                <ion-label>{{'Registrations'|translate}} </ion-label>
                <ion-button fill="clear" (click)="printRegistrations($event)"
                    matTooltip="{{'Print the list of the registrations' | translate }}">
                    <ion-icon name="print-outline"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-grid slot="content">
                <ion-row>
                    <ion-col>{{'Time'|translate}}</ion-col>
                    <ion-col>{{'Student'|translate}}</ion-col>
                    <ion-col>{{'Notices'|translate}}</ion-col>
                </ion-row>
                <ion-row *ngFor="let event of myPTMTeacherInRoom.events.sort(compare)">
                    <ion-col>{{event.start|date:'HH:mm'}}</ion-col>
                    <ion-col>
                        @if(!event.student){
                        @if(event.blocked){
                        <ion-button fill="clear" size="small" (click)="setBlockEvent(event)"
                            matTooltip="{{'blocked' | translate }}">
                            <ion-icon slot="icon-only" name="lock-closed" color="danger"></ion-icon>
                        </ion-button>

                        } @else {
                        <ion-button fill="clear" size="small" (click)="registerEvent(event)"
                            matTooltip="{{'Register student for the event' | translate }}">
                            <ion-icon slot="icon-only" name="person-add-outline" color="success"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" size="small" (click)="setBlockEvent(event)"
                            matTooltip="{{'block' | translate }}">
                            <ion-icon slot="icon-only" name="lock-open" color="warning"></ion-icon>
                        </ion-button>
                        }
                        }@else{
                        <ion-button fill="clear" size="small" (click)="registerEvent(event)" style="color: #fff;">
                            {{getStudentOfEvent(event)}}
                        </ion-button>
                        }
                    </ion-col>
                    <ion-col>
                        @if(event.student){
                        <ion-button fill="clear" size="small" (click)="createNotices(event)">
                            <ion-icon name="clipboard" color="tertiary"></ion-icon>
                        </ion-button>
                        }
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-accordion>
        }
    </ion-accordion-group>
    }
</ion-content>
<ion-modal [isOpen]="isRegisterEventOpen">
    <ng-template>
        <ion-toolbar color="primary">
            <ion-title>{{'Register student for the event'|translate}}</ion-title>
            <ion-buttons slot="end">
                <ion-button class="ion-no-margin" (click)="doRegisterEvent()">
                    <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
                </ion-button>
                @if(selectedEventRegistered){
                <ion-button class="ion-no-margin" (click)="cancelEvent()"
                    matTooltip="{{'Cancel registration' | translate }}">
                    <ion-icon slot="icon-only" color="warning" name="trash"></ion-icon>
                </ion-button>
                }
                <ion-button fill="clear" size="small" (click)="isRegisterEventOpen = false">
                    <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-content>
            <ion-list>
                <ion-item>
                    <ion-label>{{'Time'|translate}}</ion-label><ion-label>{{selectedEvent.start|date:'HH:mm'}}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>{{'Room'|translate}}</ion-label><ion-label>{{myPTMTeacherInRoom.room.name}},
                        {{myPTMTeacherInRoom.room.description}}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>{{'Select student for the event'|translate}}</ion-label>
                    <ionic-selectable #ionSelecdenttStu itemValueField="id" itemTextField="fullName"
                        [isMultiple]="false" [(ngModel)]="selectedEvent.student" [ngModelOptions]="{standalone: true}"
                        [items]="students" [canSearch]="true">
                        <ng-template ionicSelectableHeaderTemplate>
                            <ion-header>
                                <ion-toolbar color="primary">
                                    <ion-title>
                                        {{ "Select student for the event" | translate }}
                                    </ion-title>
                                    <ion-buttons slot="end">
                                        <ion-button ion-button (click)="ionSelecdenttStu.close()">
                                            <ion-icon color="danger" name="close"></ion-icon>
                                        </ion-button>
                                    </ion-buttons>
                                </ion-toolbar>
                            </ion-header>
                        </ng-template>
                    </ionic-selectable>
                </ion-item>
            </ion-list>
        </ion-content>
    </ng-template>
</ion-modal>