<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="status">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>{{ 'System status' | translate}}</ion-label>
      </ion-tab-button>
 
      <ion-tab-button tab="services">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>{{ 'System services' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="config">
        <ion-icon name="cog"></ion-icon>
        <ion-label>{{ 'Server configuration' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="acls">
        <ion-icon name="color-wand"></ion-icon>
        <ion-label>{{ 'Acls' | translate}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="addons">
        <ion-icon name="hammer"></ion-icon>
        <ion-label>{{ 'Addon modules' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
