<cranix-toolbar title="{{ 'Challenges' | translate}}"></cranix-toolbar>
<!-- List of the challenges -->
<ion-content *ngIf="!htmlResult && !selectedChallenge && !challengeToAssign">
  <cranix-md-list objectType="challenge" [context]="context"></cranix-md-list>
</ion-content>
<!---- Show results -->
<ion-toolbar *ngIf="htmlResult" class="page-toolbar">
  <ion-title>
    {{selectedChallenge.description}}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="htmlResult=null;" matTooltip="{{'Close' | translate }}">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!selectedChallenge.released" size="small" fill="solid" (click)="downloadArchive()"
      matTooltip="{{'Download results' | translate }}">
      <ion-icon slot="icon-only" name="download" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="htmlResult">
  <div [innerHTML]="htmlResult"></div>
</ion-content>
<!--- Assigne a challenge to group or users and start it.-->
<ion-toolbar *ngIf="challengeToAssign && !challengeToAssign.released" class="page-toolbar">
  <ion-title>{{challengeToAssign.description}}</ion-title>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="challengeToAssign=null">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="startAndAssign()"
      matTooltip="{{'Assign and start challenge' | translate }}"
      [disabled]="challengeToAssign.groups.length == 0 && challengeToAssign.users.length ==0">
      <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="challengeToAssign && !challengeToAssign.released">
  <ion-list>
    <ion-item>
      <ion-label>{{'Groups' | translate}}:</ion-label>
      <ionic-selectable item-content [(ngModel)]="challengeToAssign.groups" [items]="objectService.allObjects['group']"
        itemValueField="id" itemTextField="description" [canSearch]="true" [isMultiple]="true">
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close" color="danger"></ion-icon>
        </ng-template>
        <ng-template ionicSelectableValueTemplate let-ports="value">
          <div class="ionic-selectable-value-item">{{objectService.formatGroups(ports)}}</div>
        </ng-template>
      </ionic-selectable>
      {{'studentsOnly' | translate}}:
      <ion-toggle [(ngModel)]="challengeToAssign.studentsOnly"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'Users' | translate}}:</ion-label>
      <ionic-selectable [(ngModel)]="challengeToAssign.users" [items]="objectService.allObjects['user']"
        itemValueField="id" itemTextField="fullName" [canSearch]="true" [isMultiple]="true">
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close" color="danger"></ion-icon>
        </ng-template>
        <ng-template ionicSelectableValueTemplate let-ports="value">
          <div class="ionic-selectable-value-item">{{objectService.formatUsers(ports)}}</div>
        </ng-template>
      </ionic-selectable>
    </ion-item>
  </ion-list>
</ion-content>
<!--- Edit or create a challenge -->
<ion-toolbar *ngIf="!htmlResult && selectedChallenge" class="page-toolbar">
  <ion-item [disabled]="selectedChallenge.released">
    <ion-label>{{'Title'|translate}}:</ion-label>
    <ion-input [(ngModel)]="selectedChallenge.description" placeholder="{{'Title' | translate}}"></ion-input>
    <div *ngIf="selectedChallenge.released && selectedChallenge.groups.length">
      {{objectService.formatGroups(selectedChallenge.groups)}}</div>
    <div *ngIf="selectedChallenge.released && selectedChallenge.users.length">
      {{objectService.formatUsers(selectedChallenge.users)}}</div>
    <ion-label>{{'Subject'|translate}}</ion-label>
    <ionic-selectable [(ngModel)]="selectedChallenge.teachingSubject" [items]="crxObjectService.subjects"
      itemValueField="id" itemTextField="name" [canSearch]="true" (onChange)="subjectChanged(selectedChallenge.teachingSubject.id)">
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon name="close" color="danger"></ion-icon>
      </ng-template>
    </ionic-selectable>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="close(false)" matTooltip="{{'Close'|translate}}">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
      <ng-template>
        <ion-toolbar>
          {{'The changes will be lost if you leave the module.' | translate}}
        </ion-toolbar>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button size="small" fill="clear" (click)="isOpen=false">{{'Abort'|translate}}</ion-button>
            <ion-button size="small" fill="clear" (click)="close(true)">{{'Close'|translate}}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ng-template>
    </ion-popover>
    <ion-button *ngIf="!selectedChallenge.released" size="small" fill="solid" (click)="save()"
      matTooltip="{{'Save challenge' | translate }}" [disabled]="!selectedChallenge.description || !selectedChallenge.teachingSubject">
      <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!selectedChallenge.released" fill="solid" (click)="assign(selectedChallenge)"
      matTooltip="{{'Assign and start challenge.'|translate}}">
      <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
    </ion-button>
    <ion-button *ngIf="selectedChallenge.released" fill="solid" (click)="stopAndArchive(selectedChallenge)"
      matTooltip="{{'Stop and evaluate challenge and archive the results.'|translate}}">
      <ion-icon slot="icon-only" name="stop-circle-outline" color="danger"></ion-icon>
    </ion-button>
    <ion-button *ngIf="selectedChallenge.released" size="small" fill="solid" (click)="evaluate()"
      matTooltip="{{'Show results' | translate }}">
      <ion-icon slot="icon-only" name="settings" color="success"></ion-icon>
    </ion-button>
    <ion-button id="getArchive" size="small" fill="solid" (click)="getArchives(selectedChallenge.id)"
      matTooltip="{{'Manage the archived results of this challenge.' | translate }}">
      <ion-icon slot="icon-only" name="archive"></ion-icon>
    </ion-button>
    <ion-button *ngIf="!selectedChallenge.released" size="small" fill="solid"
      (click)="deleteChallenge(selectedChallenge.id)" matTooltip="{{'Delete challenge' | translate }}">
      <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="!htmlResult && selectedChallenge">
  <div class="question" *ngFor="let question of selectedChallenge.questions; index as i">
    <ion-item *ngIf="questionToEdit == i" style="background-color: lightgray;" [disabled]="selectedChallenge.released">
      <quill-editor [styles]="editorStyles" [(ngModel)]="selectedChallenge.questions[i].question" name="description">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-code-block"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
          </span>
        </div>
      </quill-editor>
      <ion-button size="small" fill="clear" (click)="toggleEditQuestion(i)">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="questionToEdit != i" style="background-color: lightgray;" [disabled]="selectedChallenge.released">
      <div class="counter"><b>{{i+1}}.</b></div>
      <div [innerHTML]="question.question" (click)="toggleEditQuestion(i)"></div>
      <ion-label slot="end">{{ 'value' | translate }}:</ion-label>
      <ion-input slot="end" style="max-width: 40px; margin-right: 10px;" [(ngModel)]="question.value" type="number"
        (ionInput)="challengesService.modified = true" min="1"></ion-input>
      <ion-button slot="end" size="small" fill="clear" (click)="deleteQuestion(i)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="answer" *ngFor="let answer of question.crxQuestionAnswers; index as j"
      [disabled]="selectedChallenge.released">
      <quill-editor *ngIf="answerToEdit == i + '-' + j" [styles]="editorStyles"
        [(ngModel)]="selectedChallenge.questions[i].crxQuestionAnswers[j].answer" name="description">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-code-block"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
          </span>
        </div>
      </quill-editor>
      <ion-button *ngIf="answerToEdit == i + '-' + j" size="small" fill="clear" (click)="toggleEditAnswer(i,j)">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
      </ion-button>
      <input *ngIf="answerToEdit != i + '-' + j" style="margin-right: 10px;"
        [type]="question.answerType == 'One' ? 'radio' : 'checkbox'" name="answer-{{i}}" [value]="answer.answer"
        [checked]="answer.correct" (click)="toggle(i, j)">
      <div *ngIf="answerToEdit != i + '-' + j" [innerHTML]="answer.answer" (click)="toggleEditAnswer(i,j)"></div>
      <ion-button *ngIf="answerToEdit != i + '-' + j" slot="end" size="small" fill="clear" (click)="deleteAnswer(i,j)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!selectedChallenge.released" class="answer" style="color:green;">
      <ion-label>{{ 'Add new answer' | translate }}</ion-label>
      <ion-button slot="end" size="small" fill="clear" (click)="addNewAnswer(i)">
        <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <ion-item *ngIf="!selectedChallenge.released" style="color: green; background-color: lightgray;">
    <b style="margin-right: 10px;">{{ 'New question' | translate }}:</b>
    <i>{{'Type' | translate}}:</i>
    <ion-select [(ngModel)]="answerType" style="max-width: 200px; margin: 10px; color: black;">
      <ion-select-option value="One">{{'One right answer'|translate}}</ion-select-option>
      <ion-select-option value="Multiple">{{'More right answers'|translate}}</ion-select-option>
    </ion-select>
    <i>{{ 'value' | translate }}:</i>
    <ion-input style="min-width:50px; max-width: 50px; margin: 10px; color: black;" [(ngModel)]="questionValue"
      type="number" min="1"></ion-input>
    <ion-button size="small" fill="clear" (click)="addNewQuestion()">
      <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
    </ion-button>
    <ionic-selectable style="background-color: aqua; color: black;" [(ngModel)]="questionToAdd" [items]="questions"
      itemValueField="id" itemTextField="question" [canSearch]="true" (onChange)="addNewQuestion()">
      <ng-template ionicSelectableCloseButtonTemplate>
        <ion-icon name="close" color="danger"></ion-icon>
      </ng-template>
      <ng-template ionicSelectableItemIconTemplate let-port="item">
      </ng-template>
      <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
        <ion-icon *ngIf="port.id != 0"
          [name]="port.answerType == 'One' ? 'radio-button-off' : 'stop-outline'"></ion-icon>
        <div *ngIf="port.id != 0" [innerHTML]="port.question"></div>
      </ng-template>
      <ng-template ionicSelectableValueTemplate let-ports="value">
        <div class="ionic-selectable-value-item" [innerHTML]="ports.question"></div>
      </ng-template>
    </ionic-selectable>
  </ion-item>
</ion-content>
<!-- modal available on more pages -->
<ion-modal #modalGetArchive [isOpen]="modalGetArchiveIsOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'Select the archive to download.' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modalGetArchiveIsOpen = false"><ion-icon slot="icon-only" name="close"
              color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="downloadArchive()">
            <ion-icon slot="icon-only" name="download" color="success"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let archive of listOfArchives">
          <input type="radio" name="selectedArchive" [value]="archive" [(ngModel)]="selectedArchive"
            style="max-width: 40px; margin-right: 10px;">{{archive}}<br>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-popover #popoverDeleteChallenge [isOpen]="popoverDeleteChallengeIsOpen" size="cover">
  <ng-template>
    <ion-toolbar>
      {{'Remove challenge and all archived results.' | translate}}
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button size="small" fill="clear"
          (click)="popoverDeleteChallengeIsOpen=false; challengeToDelete=null;">{{'Abort'|translate}}</ion-button>
        <ion-button size="small" fill="clear" (click)="deleteChallenge(null)">{{'Remove'|translate}}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ng-template>
</ion-popover>
<ion-modal #popoverStopAndArchive [isOpen]="popoverStopAndArchiveIsOpen" size="auto">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{'Stop challenge'|translate}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="popoverStopAndArchiveIsOpen=false; selectedChallengeId=null">
            <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
          </ion-button>
          <ion-button (click)="stopAndArchive(null)">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>{{'Stop and evaluate challenge and archive the results.' | translate }}</p>
      <p>{{'The results of this challenge will be archived and removed from the database.'| translate}}</p>
      <p>{{'The challenge itself will stand and can be reused.'|translate}}</p>
    </ion-content>
  </ng-template>
</ion-modal>