.question {
  margin-left: 2px;
  font-size: 18px;
}
.answer {
  margin-left: 42px;
  font-size: 14px;
}
.counter {
  margin-right: 14px;
}

.verticalHd {
  text-align:center;
  white-space:nowrap;
  transform: rotate(90deg);
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}