<cranix-toolbar title="{{ 'Challenges' | translate}}"></cranix-toolbar>
<ion-toolbar *ngIf="htmlResult" class="page-toolbar">
  <ion-title>
    {{selectedChallenge.description}}
  </ion-title>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="htmlResult=null">
      <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="htmlResult">
  <div [innerHTML]="htmlResult"></div>
</ion-content>
<ion-toolbar *ngIf="!htmlResult && selectedChallenge" class="page-toolbar" style="height: 220px;">
  <ion-grid>
    <ion-row>
      <ion-col size="11">
        <ion-item>
          <h3 *ngIf="available">{{'Is now available'|translate}}</h3>
          <ion-input [(ngModel)]="selectedChallenge.description" placeholder="{{'Title' | translate}}"
            [disabled]="available"></ion-input>
        </ion-item>
        <ion-item [disabled]="available">
          <ion-label>{{'Groups' | translate}}:</ion-label>
          <ionic-selectable item-content [(ngModel)]="selectedChallenge.groups"
            [items]="objectService.allObjects['group']" itemValueField="id" itemTextField="description"
            [canSearch]="true" [isMultiple]="true" [disabled]="available">
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close" color="danger"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableValueTemplate let-ports="value">
              <div class="ionic-selectable-value-item">{{objectService.formatGroups(ports)}}</div>
            </ng-template>
          </ionic-selectable>
          <ion-label>{{'studentsOnly' | translate}}</ion-label>
          <ion-toggle [(ngModel)]="selectedChallenge.studentsOnly" [disabled]="available"></ion-toggle>
        </ion-item>
        <ion-item [disabled]="available">
          <ion-label>{{'Users' | translate}}:</ion-label>
          <ionic-selectable item-content [(ngModel)]="selectedChallenge.users"
            [items]="objectService.allObjects['user']" itemValueField="id" itemTextField="fullName" [canSearch]="true"
            [isMultiple]="true" [disabled]="available">
            <ng-template ionicSelectableCloseButtonTemplate>
              <ion-icon name="close" color="danger"></ion-icon>
            </ng-template>
            <ng-template ionicSelectableValueTemplate let-ports="value">
              <div class="ionic-selectable-value-item">{{objectService.formatUsers(ports)}}</div>
            </ng-template>
          </ionic-selectable>
        </ion-item>
        <ion-item [disabled]="available">
          {{ 'available' | translate}} {{ 'from' | translate}}:
          <ion-datetime-button datetime="validFrom"></ion-datetime-button>
          {{ 'until' | translate}}:
          <ion-datetime-button datetime="validUntil"></ion-datetime-button>
        </ion-item>
      </ion-col>
      <ion-col size="1">
        <ion-button size="small" fill="solid" (click)="close(false)">
          <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
        </ion-button>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
          <ng-template>
            <ion-content class="ion-padding">
              {{'Your changes will be lost if you close this window.' | translate}}<br>
              <ion-button size="small" fill="solid" (click)="close(true)">{{'Close'|translate}}</ion-button>
              <ion-button size="small" fill="solid" (click)="isOpen=false">{{'Abort'|translate}}</ion-button>
            </ion-content>
          </ng-template>
        </ion-popover>
        <ion-button size="small" fill="solid" (click)="save()" [disabled]="available">
          <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="solid" (click)="evaluate()" [disabled]="available">
          <ion-icon slot="icon-only" name="settings" color="success"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="solid" (click)="archive()" [disabled]="available">
          <ion-icon slot="icon-only" name="archive"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="solid" (click)="delete()" [disabled]="available">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
<ion-content *ngIf="!htmlResult && selectedChallenge">
  <ion-modal #modalValidFrom [keepContentsMounted]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button size="small" (click)="modalValidFrom.dismiss()">
              <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-datetime [(ngModel)]="selectedChallenge.validFrom" name="validFrom" id="validFrom"></ion-datetime>
    </ng-template>
  </ion-modal>
  <ion-modal #modalValidUntil [keepContentsMounted]="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button size="small" (click)="modalValidUntil.dismiss()">
              <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-datetime [(ngModel)]="selectedChallenge.validUntil" name="validUntil" id="validUntil"></ion-datetime>
    </ng-template>
  </ion-modal>
  <div class="question" *ngFor="let question of selectedChallenge.questions; index as i">
    <ion-item style="background-color: lightgray;" [disabled]="available">
      <div class="counter"><b>{{i+1}}.</b></div>
      <div *ngIf="questionToEdit != i" [innerHTML]="question.question" (click)="toggleEditQuestion(i)"></div>
      <quill-editor *ngIf="questionToEdit == i" [styles]="{ height: '20px'}"
        [(ngModel)]="selectedChallenge.questions[i].question" name="description"></quill-editor>
      <ion-button *ngIf="questionToEdit == i" size="small" fill="clear" (click)="toggleEditQuestion(i)">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
      </ion-button>
      <ion-label slot="end">{{ 'value' | translate }}:</ion-label>
      <ion-input slot="end" style="max-width: 40px; margin-right: 10px;" [(ngModel)]="question.value" type="number"
        (ionChange)="modified = true" min="1"></ion-input>
      <ion-button slot="end" size="small" fill="clear" (click)="deleteQuestion(i)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="answer" *ngFor="let answer of question.crxQuestionAnswers; index as j" [disabled]="available">
      <input style="margin-right: 10px;" [type]="question.answerType == 'One' ? 'radio' : 'checkbox'"
        name="answer-{{i}}" [value]="answer.answer" [checked]="answer.correct" (click)="toggle(i, j)">
      <div *ngIf="answerToEdit != i + '-' + j" [innerHTML]="answer.answer" (click)="toggleEditAnswer(i,j)"></div>
      <quill-editor *ngIf="answerToEdit == i + '-' + j" [styles]="{ height: '20px'}"
        [(ngModel)]="selectedChallenge.questions[i].crxQuestionAnswers[j].answer" name="description"></quill-editor>
      <ion-button *ngIf="answerToEdit == i + '-' + j" size="small" fill="clear" (click)="toggleEditAnswer(i,j)">
        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
      </ion-button>
      <ion-button slot="end" size="small" fill="clear" (click)="deleteAnswer(i,j)">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item class="answer" style="color:green;" [disabled]="available">
      <ion-label>{{ 'Add new answer' | translate }}</ion-label>
      <ion-button slot="end" size="small" fill="clear" (click)="addNewAnswer(i)">
        <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
  <ion-item style="color: green; background-color: lightgray;" [disabled]="available">
    <ion-label>{{ 'Add new question' | translate }}: </ion-label>
    <ion-select [(ngModel)]="answerType">
      <ion-select-option value="One">{{'One'|translate}}</ion-select-option>
      <ion-select-option value="Multi">{{'Multi'|translate}}</ion-select-option>
    </ion-select>
    <ion-label>{{ 'value' | translate }}</ion-label>
    <ion-input style="max-width: 40px; margin-right: 10px;" [(ngModel)]="questionValue" type="number"
      min="1"></ion-input>
    <ion-button slot="end" size="small" fill="clear" (click)="addNewQuestion()">
      <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
<ion-content *ngIf="!htmlResult && !selectedChallenge">
  <cranix-md-list objectType="challenge" [context]="context"></cranix-md-list>
</ion-content>