<ion-split-pane contentId="main-content" [disabled]="disabled">
  <ion-menu start=side contentId="main-content" type=overlay>
    <ion-content>
      <ion-list id="menu">
        <ion-list-header style="height: 52px;">
          <ion-item lines="none" button (click)="disabled = !disabled">
            <img src="assets/images/logo/cranix_school.svg" style="height: 32px; width: 32px;">
            <ion-label>
              <h3 *ngIf="authService.isAllowed('cephalix.manage'); else elseBlock">CEPHALIX</h3>
              <ng-template #elseBlock>
                <h3>CRANIX</h3>
              </ng-template>
            </ion-label>
          </ion-item>
        </ion-list-header>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
            style="background-color : {{ location.path().startsWith(p.url) ? 'var(--ion-color-secondary)' : 'var(--ion-color-primary-tint)' }};">
            <ion-icon size="small" style="margin-right: 10px;" color="#ffffff" slot="start" [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'">
            </ion-icon>
            <ion-label>{{ p.title | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer collapse="fade">
      <ion-button fill="clear" (click)="authService.showInfo()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>