.grid-cell {
    border: 1px solid #000; /* Sichtbare Grenze */
    border-radius: 20px;
    box-shadow: 5px 5px gray;
    margin: 5px;
    padding: 10px; /* Innenabstand */
    text-align: center; /* Text zentrieren */
  }
