<cranix-toolbar></cranix-toolbar>
<ion-row class="header-row">
  <ion-col>
    <ion-title>{{'Manage groups' | translate}}</ion-title>
  </ion-col>
</ion-row>
<ion-content *ngIf="!authService.isMD()" id="carded">
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>{{'Manage groups' | translate}}</ion-card-title>
        <ion-item>
          <ion-label *ngIf="gridApi">
            #{{gridApi.getDisplayedRowCount()}}
          </ion-label>
          <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('groupsFilter')"
            id="groupsFilter">
          </ion-input>
        </ion-item>
        <ion-buttons slot="end">
          <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
            matTooltip="{{'Create a new group' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="solid" (click)="openActions($event,null)"
            matTooltip="{{'Apply actions on the selected objects' | translate }}">
            <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="solid" (click)="openCollums($event)"
            matTooltip="{{'Select the columns to show' | translate }}">
            <ion-icon slot="icon-only" name="apps"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ag-grid-angular style="width: 100%; height: 100%;" rowSelection="multiple"
        class="{{authService.settings.agGridThema}}" rowHeight="{{authService.settings.rowHeight}}"
        rowMultiSelectWithClick="{{authService.settings.rowMultiSelectWithClick}}" [context]="context"
        [rowData]="objectService.allObjects['group']" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
        (selectionChanged)="selectionChanged()" id="groupsPageTable">
      </ag-grid-angular>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="ellipsis-vertical-sharp" (click)="openActions($event,null)"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add-circle" (click)="redirectToEdit(null)"></ion-icon>
      </ion-fab-button>
      <!-- ion-fab-button>
          <ion-icon name="apps" (click)="openCollums($event)"></ion-icon>
        </ion-fab-button -->
    </ion-fab-list>
  </ion-fab>
  <ion-searchbar placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('groupsFilterMD')"
    id="groupsFilterMD" showCancelButton="never">
  </ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let object of rowData">
      <ion-item button (click)="redirectToEdit(object)">
        <ion-note slot="start">
          <ion-checkbox (click)="$event.stopPropagation()" (ionChange)="checkChange($event,object)"></ion-checkbox>
        </ion-note>
        <ion-label>
          <h3>{{ object.name }}</h3>
          <h5>{{ object.description }}</h5>
        </ion-label>
        <ion-label>
          <h5>{{ object.groupType | translate }}</h5>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="redirectToDelete(object)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="redirectToMembers(object)">
          <ion-icon slot="icon-only" name="people-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
