<cranix-toolbar></cranix-toolbar>
<ion-content>
    <ion-searchbar (keyup)="doFilter($event.target.value)" ></ion-searchbar>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'id' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let group"> {{group.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'name' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
        <a (click)="redirectToMember(group)"><span>{{group.name}}</span></a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'description' | translate }}</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let group"> {{group.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="groupType">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'groupType' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let group"> {{group.groupType}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <ion-button size="small"  (click)="redirectToAdd()">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="openActions()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <ion-button size="small"  (click)="openCollums()">
          <ion-icon slot="icon-only" name="apps"></ion-icon>
        </ion-button>
        </mat-header-cell>
      <mat-cell *matCellDef="let object" (click)="$event.stopPropagation()">
        <ion-button fill="clear"  size="small" (click)="redirectToEdit(object)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button  fill="clear" size="small" (click)="redirectToDelete(object)">
          <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
        </ion-button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>>

  </table>
  <!-- mat-paginator [pageSizeOptions]="[20,30,50]" showFirstLastButtons></mat-paginator -->
</ion-content>