<cranix-toolbar title="{{'Manage groups' | translate}}"></cranix-toolbar>
<ion-toolbar *ngIf="!authService.isMD()" class="page-toolbar">
  <ion-item lines="none">
    <ion-label *ngIf="gridApi">
      #{{gridApi.getDisplayedRowCount()}}&nbsp;
    </ion-label>
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('groupsFilter')"
      id="groupsFilter">
    </ion-input>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
      matTooltip="{{'Create a new group' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openActions($event,null)"
      matTooltip="{{'Apply actions on the selected objects' | translate }}">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openCollums($event)"
      matTooltip="{{'Select the columns to show' | translate }}">
      <ion-icon slot="icon-only" name="apps"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="!authService.isMD()" id="carded">
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    rowSelection="multiple"
    class="{{authService.settings.agGridThema}}"
    [rowHeight]="authService.settings.rowHeight"
    [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
    [context]="context"
    [rowData]="objectService.allObjects['group']"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="selectionChanged()"
    id="groupsPageTable">
  </ag-grid-angular>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <cranix-md-list objectType="group" [context]="context"></cranix-md-list>
</ion-content>
