<form #loginForm="ngForm">
  <ion-card class="ion-text-center" style="max-width: 400px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    <ion-card-header class="ion-text-center">
      <img src="assets/images/logo/cranix_school.svg" style="height: 200px; width: 200px; padding: 10px">
      <h2 style="margin-top: 5px;">{{ instName | async }}</h2>
    </ion-card-header>
    <ion-card-content *ngIf="!authService.use2fa">
      <ion-list>
        <ion-item>
          <ion-input label="{{'username'|translate}}" labelPlacement="fixed" [(ngModel)]="user.username" name="username"
            type="text" autocomplete="off" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{'password'|translate}}" labelPlacement="fixed" [(ngModel)]="user.password" name="password"
            type="password" autocomplete="off" required>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <ion-button style="margin-top: 10px;" expand="full" color="primary" (click)="login()"
          [disabled]="!loginForm.valid">{{'login'|translate}}</ion-button>
      </ion-list>
    </ion-card-content>
    <ion-card-content *ngIf="authService.use2fa">
      <ion-list>
        <ion-item *ngIf="authService.session.crx2fas.length > 1">
          <ion-select [(ngModel)]="authService.crx2fa" name="selectedCx2fa">
            <ion-select-option *ngFor="let tmp of authService.session.crx2fas"
              [value]="tmp">{{tmp.split('#')[0]}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input label="{{'Enter PIN'|translate}}" labelPlacement="fixed" [(ngModel)]="totppin" name="totppin"
            required></ion-input>
          <ion-button *ngIf="!authService.crx2fa.startsWith('TOTP')" (click)="sendPin()">
            {{'Send pin'|translate}}
          </ion-button>
        </ion-item>
        <ion-button style="margin: 10px;" expand="full" color="primary" (click)="checkPin()"
          [disabled]="!loginForm.valid">{{'login' |
          translate}}</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</form>
<ion-footer collapse="fade">
  <ion-button fill="clear" (click)="authService.showInfo()">
    <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
  </ion-button>
</ion-footer>