:host {
    background: url('/assets/images/background/dark-material-bg.jpg') no-repeat;
    background-size: cover;

}
ion-input {
  --background: white;
  background-color: white;
}

/*
ion-item::part(native) {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    background-color: white;
  }
  ion-item::part(detail-icon) {
    color: white;
    opacity: 1;
    font-size: 20px;
  }
*/
