<ion-content>
  <ion-card class="toolbar-inherit">
    <ion-card-header >
       <h1>{{ 'My Devices' | translate}}</h1>
    </ion-card-header>
    <ion-card-content >
     <ion-list *ngIf="myDevs">
       <ion-item *ngFor="let dev of myDevs | async">
         <ion-icon slot="start" name="cube"></ion-icon>
         <ion-label>
           <h2>{{ dev.name }}</h2>
           <h3>{{ dev.ip }}</h3>
           <h3>{{ dev.mac }}</h3>
        </ion-label>
         <ion-button (click)="deleteDev(dev.id)"color="warn">{{'BUTTONS.DELETE' | translate}}</ion-button>
       </ion-item>
      
     </ion-list>
    </ion-card-content>
  </ion-card>
 </ion-content>