<!-- cranix-toolbar title="{{'Calendar' | translate}}"></cranix-toolbar -->
<cranix-toolbar title="Calendar"></cranix-toolbar>
<ion-content>
    <full-calendar #calendar [options]="calendarOptions" [events]="events"></full-calendar>
    <ion-modal #addEditEventModal [isOpen]="isModalOpen">
        <ng-template>
            @if(selectedEvent){
            <form #addEditEventForm="ngForm">
                <ion-header color="primary">
                    <ion-toolbar color="primary">
                        <ion-title>{{addEditEventTitle|translate}}</ion-title>
                        <ion-buttons slot="end">
                            @if(isWritable()) {
                            <ion-button class="ion-no-margin" (click)="addEditEvent(addEditEventModal)"
                                [disabled]="!addEditEventForm.valid">
                                <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
                            </ion-button>
                            @if(selectedEvent.id){
                            <ion-button class="ion-no-margin" (click)="deleteEvent()"
                                [disabled]="!addEditEventForm.valid">
                                <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                            </ion-button>
                            }
                            }
                            <ion-button fill="clear" size="small" (click)="setOpen(false)">
                                <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-toolbar>
                </ion-header>
                <ion-content [fullscreen]="true">
                    <ion-list [inset]="true">
                        <ion-item>
                            <ion-input [(ngModel)]="selectedEvent.title" name="title" type="text" labelPlacement="fixed"
                                label="{{'title'|translate}}*" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="selectedEvent.description" name="description" type="text-area"
                                labelPlacement="fixed" label="{{'description'|translate}}"></ion-input>
                        </ion-item>
                        <!-- ion-item>
                            <ion-input [(ngModel)]="selectedEvent.location" name="location" type="text"
                                labelPlacement="fixed" label="{{'location'|translate}}"></ion-input>
                        </ion-item -->
                        <ion-item>
                            <ion-toggle [(ngModel)]="selectedEvent.allDay" name="allDay" labelPlacement="start"
                                (ionChange)="adaptEventTimes()">{{'allDay'|translate}}</ion-toggle>
                        </ion-item>
                        @if(selectedEvent.allDay) {
                        <ion-item>
                            <ion-label>{{'From'|translate}}*</ion-label>
                            <input [(ngModel)]="selectedEvent.start" name="startTime" type="date" required />
                        </ion-item>
                        @if(!eventRecurring) {
                        <ion-item>
                            <ion-label>{{'Until'|translate}}*</ion-label>
                            <input [(ngModel)]="selectedEvent.end" name="endTime" type="date" required />
                        </ion-item>
                        }
                        } @else {
                        <ion-item>
                            <ion-label>{{'From'|translate}}*</ion-label>
                            <input [(ngModel)]="selectedEvent.start" name="startTime" type="datetime-local" required />
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Until'|translate}}*</ion-label>
                            <input [(ngModel)]="selectedEvent.end" name="endTime" type="datetime-local" required />
                        </ion-item>
                        }
                        <ion-item>
                            <ion-label>{{'Select groups for the event' | translate}}</ion-label>
                            <ionic-selectable #ionicSelectGroups itemValueField="id" itemTextField="description"
                                [isMultiple]="true" [(ngModel)]="selectedEvent.groups"
                                [ngModelOptions]="{standalone: true}" [items]="myGroups" [canSearch]="true">
                                <ng-template ionicSelectableHeaderTemplate>
                                    <ion-header color="primary">
                                        <ion-toolbar>
                                            <ion-title>
                                                {{ "Select groups for the event" | translate }}
                                            </ion-title>
                                            <ion-buttons slot="end">
                                                <ion-button ion-button (click)="ionicSelectGroups.close()">
                                                    <ion-icon color="danger" name="close"></ion-icon>
                                                </ion-button>
                                            </ion-buttons>
                                        </ion-toolbar>
                                    </ion-header>
                                </ng-template>
                                <ng-template ionicSelectableValueTemplate let-ports="value">
                                    <div class="ionic-selectable-value-item">
                                        {{ports.length}} {{'groups are seleceted'|translate}}
                                    </div>
                                </ng-template>
                            </ionic-selectable>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Select users for the event' | translate}}</ion-label>
                            <ionic-selectable #ionicSelectUsers itemValueField="id" itemTextField="fullName"
                                [isMultiple]="true" [(ngModel)]="selectedEvent.users"
                                [ngModelOptions]="{standalone: true}" [items]="objectService.allObjects['user']"
                                [canSearch]="true">
                                <ng-template ionicSelectableHeaderTemplate>
                                    <ion-header color="primary">
                                        <ion-toolbar>
                                            <ion-title>
                                                {{ "Select users for the event" | translate }}
                                            </ion-title>
                                            <ion-buttons slot="end">
                                                <ion-button ion-button (click)="ionicSelectUsers.close()">
                                                    <ion-icon color="danger" name="close"></ion-icon>
                                                </ion-button>
                                            </ion-buttons>
                                        </ion-toolbar>
                                    </ion-header>
                                </ng-template>
                                <ng-template ionicSelectableValueTemplate let-ports="value">
                                    <div class="ionic-selectable-value-item">
                                        {{ports.length}} {{'users are seleceted'|translate}}
                                    </div>
                                </ng-template>
                            </ionic-selectable>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{'Select room for the event' | translate}}</ion-label>
                            <ionic-selectable #ionicSelectRoom itemValueField="id" itemTextField="description"
                                [isMultiple]="false" [(ngModel)]="selectedEvent.room"
                                [ngModelOptions]="{standalone: true}" [items]="objectService.allObjects['room']"
                                [canSearch]="true">
                                <ng-template ionicSelectableHeaderTemplate>
                                    <ion-header color="primary">
                                        <ion-toolbar>
                                            <ion-title>
                                                {{ "Select room for the event" | translate }}
                                            </ion-title>
                                            <ion-buttons slot="end">
                                                <ion-button ion-button (click)="ionicSelectRoom.close()">
                                                    <ion-icon color="danger" name="close"></ion-icon>
                                                </ion-button>
                                            </ion-buttons>
                                        </ion-toolbar>
                                    </ion-header>
                                </ng-template>
                            </ionic-selectable>
                        </ion-item>
                    </ion-list>
                    <ion-list [inset]="true">
                        <ion-item>
                            <ion-toggle [(ngModel)]="eventRecurring" name="recurring"
                                labelPlacement="start">{{'Recurring'|translate}}</ion-toggle>
                        </ion-item>
                        <ion-item>
                            <ion-select [(ngModel)]="rRule.freq" name="rruleFreq" label="{{'Freq'|translate}}"
                                labelPlacement="start" [disabled]="!eventRecurring">
                                <ion-select-option *ngFor="let freq of rruleFrequents; index as i" [value]="i">{{freq |
                                    translate}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="rRule.interval" name="rruleInterval" type="number"
                                label="{{'Interval'|translate}}" labelPlacement="fixed" [disabled]="!eventRecurring"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-select [(ngModel)]="rRule.byweekday" name="byweekday" label="{{'Weekday'|translate}}"
                                labelPlacement="start" [multiple]="true" [disabled]="!eventRecurring">
                                <ion-select-option *ngFor="let day of rruleDays; index as i" [value]="i">{{day |
                                    translate}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-select [(ngModel)]="rRule.bymonth" name="bymonth" label="{{'Month'|translate}}"
                                labelPlacement="start" [multiple]="true" [disabled]="!eventRecurring">
                                <ion-select-option *ngFor="let month of rruleMonths; index as j" [value]="j+1">{{month |
                                    translate}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-input [(ngModel)]="rRule.count" name="rruleCount" type="number"
				   label="{{'Count'|translate}}" [disabled]="!eventRecurring || rRule.count > 0"></ion-input>
                        </ion-item>
                        <ion-item  [disabled]="!eventRecurring || rRule.count">
                            <ion-label>{{'End Date'|translate}}</ion-label>
                            <input [(ngModel)]="rRule.until" name="endTime" type="date"/>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </form>
            }
        </ng-template>
    </ion-modal>
    <ion-modal #selectCalendar [isOpen]="isCalendarModalOpen">
        <ng-template>
            <ion-header color="primary">
                <ion-toolbar color="primary">
                    <ion-title>{{'Select Calendars to show'|translate}}</ion-title>
                    <ion-buttons slot="end">
                        <ion-button fill="clear" size="small" (click)="filterEvents(true)">
                            <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" size="small" (click)="filterEvents(false)">
                            <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <!-- ion-item>
                        <ion-label>
                            {{'If no items are seleceted all events are showed'|translate}}
                        </ion-label>
                    </ion-item -->
                    <ion-item>
                        <ion-toggle labelPlacement="start" [(ngModel)]="eventFilter.showPrivate">{{'Private Events'|translate}}</ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-toggle labelPlacement="start" [(ngModel)]="eventFilter.showIndividual">{{'Individual Events'|translate}}</ion-toggle>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{'Select groups calendars' | translate}}</ion-label>
                        <ionic-selectable #ionicSelectGroups itemValueField="id" itemTextField="description" [isMultiple]="true"
                            [(ngModel)]="eventFilter.groups" [ngModelOptions]="{standalone: true}" [items]="myGroups"
                            [canSearch]="true">
                            <ng-template ionicSelectableHeaderTemplate>
                                <ion-header color="primary">
                                    <ion-toolbar>
                                        <ion-title>
                                            {{ "Select groups calendars to show" | translate }}
                                        </ion-title>
                                        <ion-buttons slot="end">
                                            <ion-button ion-button (click)="ionicSelectGroups.close()">
                                                <ion-icon color="danger" name="close"></ion-icon>
                                            </ion-button>
                                        </ion-buttons>
                                    </ion-toolbar>
                                </ion-header>
                            </ng-template>
                            <ng-template ionicSelectableValueTemplate let-ports="value">
                                <div class="ionic-selectable-value-item">
                                    {{ports.length}} {{'groups are seleceted'|translate}}
                                </div>
                            </ng-template>
                        </ionic-selectable>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{'Select room calendars' | translate}}</ion-label>
                        <ionic-selectable #ionicSelectUsers itemValueField="id" itemTextField="description" [isMultiple]="true"
                            [(ngModel)]="eventFilter.rooms" [ngModelOptions]="{standalone: true}"
                            [items]="objectService.allObjects['room']" [canSearch]="true">
                            <ng-template ionicSelectableHeaderTemplate>
                                <ion-header color="primary">
                                    <ion-toolbar>
                                        <ion-title>
                                            {{ "Select room calendars to show" | translate }}
                                        </ion-title>
                                        <ion-buttons slot="end">
                                            <ion-button ion-button (click)="ionicSelectUsers.close()">
                                                <ion-icon color="danger" name="close"></ion-icon>
                                            </ion-button>
                                        </ion-buttons>
                                    </ion-toolbar>
                                </ion-header>
                            </ng-template>
                            <ng-template ionicSelectableValueTemplate let-ports="value">
                                <div class="ionic-selectable-value-item">
                                    {{ports.length}} {{'rooms are seleceted'|translate}}
                                </div>
                            </ng-template>
                        </ionic-selectable>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ng-template>
    </ion-modal>
</ion-content>
