<cranix-toolbar></cranix-toolbar>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="announcement">
          <ion-segment-button value="announcement" layout="icon-start">
            <ion-label class="hidden-xs hidden-sm">{{'Announcements' | translate}}</ion-label>
            <ion-icon name="newspaper"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="task" layout="icon-start">
            <ion-label class="hidden-xs hidden-sm">{{'Tasks' | translate}}</ion-label>
            <ion-icon name="clipboard"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="faq" layout="icon-start">
            <ion-label class="hidden-xs hidden-sm">{{'FAQs' | translate}}</ion-label>
            <ion-icon name="information-circle"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="contact" layout="icon-start">
            <ion-label class="hidden-xs hidden-sm">{{'Contacts' | translate}}</ion-label>
            <ion-icon name="people"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-toolbar>
        <ion-item>
          <ion-input placeholder="{{'search' | translate}}" id="searchInfo" (input)="searchInfo()">
          </ion-input>
        </ion-item>
        <ion-buttons slot="end" *ngIf="authService.isAllowed('information.add')">
          <ion-button *ngIf="owned" size="small" (click)="addEditInfo(0)"
            matTooltip="{{'Create a new '+segment | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button *ngIf="!owned" size="small" (click)="getOwned()"
            matTooltip="{{'Get owned '+segment+'s' | translate }}">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
          <ion-button *ngIf="owned" size="small" (click)="getNotOwned()"
            matTooltip="{{'Get corresponding '+segment+'s' | translate }}">
            <ion-icon slot="icon-only" name="people"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="owned">
        {{'List of owned ' + segment | translate }}
      </ion-card-title>
      <ion-card-title *ngIf="!owned">
        {{'List of corresponding ' + segment | translate }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list *ngFor="let categorId of informationsService.categoryIds">
    <div *ngIf="infos && infos.hasOwnProperty(categorId)">
      <ion-list-header>
        {{informationsService.getCategoryName(categorId)}}
      </ion-list-header>
      <ion-item *ngFor="let info of infos[categorId]">
        <ion-label *ngIf="segment == 'contact'">
          <h2>{{info.title}} {{info.issue}}</h2>
          <h3>{{info.name}} {{info.phone}} {{info.email}}</h3>
        </ion-label>
        <ion-toolbar *ngIf="segment != 'contact'">
          <h2>{{info.title}}</h2>
          <h3>{{info.abstract}}</h3>
          <ion-buttons slot="end">
            <ion-button size="small" (click)="addEditInfo(info.id)">
              <ion-icon slot="icon-only" name="book"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-item>
    </div>
  </ion-list>
</ion-content>