<cranix-toolbar title="{{ title | translate }}"></cranix-toolbar>
<ion-toolbar class="page-toolbar">
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="announcement">
    <ion-segment-button value="announcement" layout="icon-start">
      <ion-label class="hidden-xs hidden-sm">{{ 'announcements' | translate}}</ion-label>
      <ion-icon name="newspaper"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="task" layout="icon-start">
      <ion-label class="hidden-xs hidden-sm">{{ 'tasks' | translate}}</ion-label>
      <ion-icon name="clipboard"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="faq" layout="icon-start">
      <ion-label class="hidden-xs hidden-sm">{{ 'faqs' | translate}}</ion-label>
      <ion-icon name="information-circle"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="contact" layout="icon-start">
      <ion-label class="hidden-xs hidden-sm">{{ 'contacts' | translate}}</ion-label>
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <ion-buttons slot="end" *ngIf="authService.isAllowed('information.add')">
    <ion-button *ngIf="!owned" size="small" fill="solid" (click)="getOwned()"
      matTooltip="{{'Get owned '+segment+'s' | translate }}">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-button>
    <ion-button *ngIf="owned" size="small" fill="solid" (click)="getNotOwned()"
      matTooltip="{{'Get corresponding '+segment+'s' | translate }}">
      <ion-icon slot="icon-only" name="people-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-toolbar>
    <ion-item>
      <ion-input placeholder="{{'search' | translate}}" id="searchInfo" (input)="searchInfo()">
      </ion-input>
    </ion-item>
    <ion-buttons slot="end" *ngIf="authService.isAllowed('information.add')">
      <ion-button *ngIf="owned" size="small" (click)="addEditInfo(0)"
        matTooltip="{{'Create a new '+segment | translate }}">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list *ngFor="let categorId of informationsService.categoryIds">
    <div *ngIf="infos && infos.hasOwnProperty(categorId)">
      <ion-list-header>
        {{informationsService.getCategoryName(categorId) | translate }}
      </ion-list-header>
      <ion-item *ngFor="let info of infos[categorId]">
        <ion-label *ngIf="segment == 'contact'">
          <h2>{{info.title}} {{info.issue}}</h2>
          <h3>{{info.name}} {{info.phone}} {{info.email}}</h3>
        </ion-label>
        <ion-toolbar>
          <span *ngIf='info.validUntil'>{{ info.validUntil | date:'yyyy-MM-dd HH:mm' }} </span>{{info.title}}
          <ion-buttons slot="end">
            <ion-button *ngIf="segment == 'task' && owned" (click)="openResponses(info)">
              <ion-icon slot="icon-only" name="albums"></ion-icon>
            </ion-button>
            <ion-button *ngIf="taskResponses[info.id]" (click)="openResponse(taskResponses[info.id])">
              <ion-icon slot="icon-only" color="success" name="build"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!taskResponses[info.id]" size="small" (click)="addEditInfo(info.id)">
              <ion-icon *ngIf="!owned && segment == 'announcement' && info.seenByMe; else elseBlock" name="book"
                color="success"></ion-icon>
              <ng-template #elseBlock>
                <ion-icon *ngIf="!owned" slot="icon-only" name="book"></ion-icon>
                <ion-icon *ngIf="owned" slot="icon-only" name="build"></ion-icon>
              </ng-template>
            </ion-button>
            <ion-button *ngIf="owned" (click)="deleteInfo(info)">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-item>
    </div>
  </ion-list>
</ion-content>