<cranix-toolbar title="{{'Manage tickets' | translate}}"></cranix-toolbar>
<ion-toolbar *ngIf="!authService.isMD()" class="page-toolbar">
  <ion-item lines="none">
    <ion-label *ngIf="gridApi">
      #{{gridApi.getDisplayedRowCount()}}
    </ion-label>
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('ticketsFilter')"
      id="ticketsFilter">
    </ion-input>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button fill="solid" (click)="reloadAllObjects()"
      matTooltip="{{'Reload tickets' | translate }}">
      <ion-icon color="secondary" slot="icon-only" name="refresh"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
      matTooltip="{{'Create a new ticket' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openActions($event,null)"
      matTooltip="{{'Apply actions on the selected objects' | translate }}">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openCollums($event)"
      matTooltip="{{'Select the columns to show' | translate }}">
      <ion-icon slot="icon-only" name="apps"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="!authService.isMD() && objectService.allObjects['ticket']" id="carded">
  <ag-grid-angular style="width: 100%; height: 100%;" rowSelection="multiple"
    class="{{authService.settings.agGridThema}}" [rowHeight]="authService.settings.rowHeight" [context]="context"
    [rowData]="objectService.allObjects['ticket']" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)" (cellClicked)="ticketClickHandle($event)"
    id="ticketsPageTable">
  </ag-grid-angular>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <ion-searchbar placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('ticketsFilterMD')"
    id="ticketsFilterMD" showCancelButton="never">
  </ion-searchbar>
  <ion-item *ngIf="rowData.length == 0">
    <ion-label class="ion-text-center">
      {{ 'Loading data ...' | translate }}
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item-sliding *ngFor="let object of objectService.allObjects['ticket']">
      <ion-item style="color: {{ticketColor[object.ticketStatus]}}">
        <ion-label (click)="redirectToEdit(object)">
          <h2>{{ object.title }}</h2>
          {{ object.recDate | date:'yy-MM-dd HH:mm' }}
        </ion-label>
        <ion-label>
          {{ object.email }} <br>
          {{ object.firstname }} {{ object.lastname }}<br>
          <div *ngIf="object.cephalixInstituteId">{{ object.cephalixInstituteId | idToName:'institute' }}</div>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="redirectToDelete(object)">
          <ion-icon  name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option (click)="redirectToEdit(object)">
          <ion-icon name="build-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>