<form #addRule="ngForm" (ngSubmit)="closeMe()">
  <ion-header>
    <ion-toolbar>
      <ion-title position="stacked">{{'Room'| translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button type="submit">
          <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ionic-selectable #roomSelect item-content [(ngModel)]="eduS.selectedRoom" [ngModelOptions]="{standalone: true}"
      [items]="eduS.myRooms" itemValueField="id" itemTextField="name" [canSearch]="true">
      <ng-template ionicSelectableHeaderTemplate>
        <ion-toolbar>
          <ion-title>
            {{ "Select a Room" | translate }}
          </ion-title>
          <ion-buttons slot="end">
            <ion-button ion-button (click)="roomSelect.close()">
              <ion-icon color="danger" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ng-template>
      <ng-template ionicSelectableItemIconTemplate>
        <div></div>
      </ng-template>
    </ionic-selectable>
  </ion-item>
</form>