@if(selectedPTM){
<ion-header>
    <ion-toolbar class="page-toolbar">
        <ion-title>{{'Event Registrations'|translate}} {{selectedPTM.start|date:'yyyy-MM-dd'}}
            {{selectedPTM.start|date:'HH:mm'}} - {{selectedPTM.end|date:'HH:mm'}}
            {{'student'|translate}}: {{student.surName}}, {{student.givenName}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <cranix-ptm-view [id]="id"></cranix-ptm-view>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>{{instituteName}}</ion-title>
        <ion-label slot="end">CRANIX Solutions GmbH </ion-label>
        <img slot="end" src="assets/images/logo/cranix_school.svg" style="height: 32px; width: 32px;">
    </ion-toolbar>
</ion-footer>
}