<cranix-toolbar></cranix-toolbar>
<ion-row class="header-row">
  <ion-col>
    <ion-title>{{'Manage users' | translate}}</ion-title>
  </ion-col>
</ion-row>
<ion-content *ngIf="!authService.isMD()" id="carded">
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>{{'Manage users' | translate}}</ion-card-title>
        <ion-item>
          <ion-label *ngIf="gridApi">
            #{{gridApi.getDisplayedRowCount()}}
          </ion-label>
          <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('usersFilter')"
            id="usersFilter">
          </ion-input>
        </ion-item>
        <ion-buttons slot="end">
          <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
            matTooltip="{{'Create a new user' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="solid" (click)="openActions($event,null)"
            matTooltip="{{'Apply actions on the selected objects' | translate }}">
            <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="solid" (click)="openCollums($event)"
            matTooltip="{{'Select the columns to show' | translate }}">
            <ion-icon slot="icon-only" name="apps"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ag-grid-angular
        style="width: 100%; height: 100%;"
        class="{{authService.settings.agGridThema}}"
        rowSelection="multiple"
        rowHeight="{{authService.settings.rowHeight}}"
        rowMultiSelectWithClick="{{authService.settings.rowMultiSelectWithClick}}"
        [rowData]="objectService.allObjects['user']"
        [columnDefs]="columnDefs"
        [context]="context"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="selectionChanged()"
        id="agGridTable">
      </ag-grid-angular>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="openActions($event,null)">
        <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="redirectToEdit(null)">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-searchbar placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('usersFilterMD')"
    id="usersFilterMD" showCancelButton="never"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let object of rowData">
      <ion-item>
        <ion-note slot="start">
          <ion-checkbox (ionChange)="checkChange($event,object)"></ion-checkbox>
        </ion-note>
        <ion-label (click)="redirectToEdit(object)">
          <h2>{{ object.uid }}</h2>
          {{ object.surName }} {{ object.givenName }}
        </ion-label>
        <ion-note style="max-width: 200px;" slot="end">
          {{ object.role | translate }}<br>
          {{ object.classes }}
        </ion-note>
      </ion-item>
      <ion-item-options side="end">
        <ion-button fill="clear" (click)="redirectToDelete(object)">
          <ion-icon color="danger" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="redirectToGroups(object)">
          <ion-icon name="people"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="redirectToEdit(object)">
          <ion-icon name="build-sharp"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
