<cranix-toolbar title="{{'Manage users' | translate}}"></cranix-toolbar>
<ion-toolbar *ngIf="!authService.isMD()">
  <ion-item>
    <ion-label *ngIf="gridApi">
      #{{gridApi.getDisplayedRowCount()}}
    </ion-label>
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('usersFilter')" id="usersFilter">
    </ion-input>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
      matTooltip="{{'Create a new user' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openActions($event,null)"
      matTooltip="{{'Apply actions on the selected objects' | translate }}">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openCollums($event)"
      matTooltip="{{'Select the columns to show' | translate }}">
      <ion-icon slot="icon-only" name="apps"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="!authService.isMD()">
  <ag-grid-angular style="width: 100%; height: 100%;" class="{{authService.settings.agGridThema}}"
    rowSelection="multiple" rowHeight="{{authService.settings.rowHeight}}"
    rowMultiSelectWithClick="{{authService.settings.rowMultiSelectWithClick}}"
    [rowData]="objectService.allObjects['user']" [columnDefs]="columnDefs" [context]="context"
    (gridReady)="onGridReady($event)" (selectionChanged)="selectionChanged()" id="agGridTable">
  </ag-grid-angular>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <cranix-md-list objectType="user" [context]="context"></cranix-md-list>
</ion-content>