ion-list {
    &.list-ios {
        margin-bottom: 0;
    }
}
ion-list-header {
    font-size: 16px;
}
ion-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
}