#controlgrid{
    padding-top: 67px; 
    height: 100%;
    width: 100%;
    
    ion-card-header{
        display: flex;
     
        /* align-items: center; */
        align-items: center;
        justify-content: space-between;
    }
    ion-card-content{
        overflow: scroll;

    }
}

ion-grid {
    flex-grow: initial;
}
.grid-row{
    justify-content: space-between;
    align-items: center;
}