<div id="controlgrid">
  <ion-card>
    <ion-card-header>
      
      <ion-item lines="none">
        <ion-label>{{' ALLOWLOGIN' | translate}}</ion-label>
        <ion-toggle (ionChange)="setAccess()" [(ngModel)]="login"></ion-toggle>
      </ion-item>
    
      <ion-item lines="none">
        <ion-label>Sausage</ion-label>
        <ion-toggle (ionChange)="setAccess()" [(ngModel)]="direct"></ion-toggle>
      </ion-item>
    
      <ion-item lines="none">
        <ion-label>{{' ALLOWLOGIN' | translate}}</ion-label>
        <ion-toggle (ionChange)="setAccess()" [(ngModel)]="printing"></ion-toggle>
      </ion-item>
    
      <ion-item lines="none">
        <ion-label>Sausage</ion-label>
        <ion-toggle (ionChange)="setAccess()" [(ngModel)]="proxy"></ion-toggle>
      </ion-item>
      
      <ion-button fill="clear" (click)="onBTNSHARE()">
        <ion-icon name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="onBTNCOLLECT()">
        <ion-icon name="cloud-download"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="openAction()">
        <ion-icon name="desktop"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngIf="room">
        <ion-row *ngFor="let row of array(room.rows)">
          <ion-col *ngFor="let dev of array(room.places)" size="4">
            <cranix-roomdev [index]="dev"></cranix-roomdev>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>