/*
 * edited styling for ag-grid 
 *
 */
$grid-breakpoints :(xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px);

$breakpoints-keys  : map-keys($grid-breakpoints);
$breakpoints-values: map-values($grid-breakpoints);

@for $i from 1 to length($breakpoints-keys)+1 {
  @if $i < length($breakpoints-keys) {
    .hidden-#{nth($breakpoints-keys, $i)} {
      @media (min-width: nth($breakpoints-values, $i)) and (max-width: #{nth($breakpoints-values, $i+1) - 1}) {
        display: none !important;
      }
    }
  }
  @else {
    .hidden-#{nth($breakpoints-keys, $i)} {
      @media (min-width: nth($breakpoints-values, $i)) {
        display: none !important;
      }
    }
  }
}

.ag-row .ag-cell {
  display          : flex;
  //justify-content: center; /* align horizontal *
  align-items      : center;
  justify-content  : space-between;
  text-overflow    : ellipsis;
  border-right     : 0px !important;
  border-left-width: 0px !important;
}



.ag-theme-material .ag-checkbox .ag-input-wrapper, .ag-theme-material .ag-radio-button .ag-input-wrapper{
  font-size: 15px;
  box-shadow: none;
}
.ag-theme-material .ag-header-row:first-child .ag-header-cell {
  padding-left: 4px;
}


.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
    color: var(--ion-color-secondary);
}
.ag-theme-material .ag-checkbox-input-wrapper.ag-indeterminate::after {
    color: gray;
}
.ag-cell-wrapper{
  justify-content: space-between;
}
.uuid-flex{

  display:flex;
  flex-direction: row;
  align-items: center;

}
.name-action{
  display:flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  .name {
    color: red
  }
  .actions{
    color: blue
  }
}
.ag-header-group-cell-label, .ag-header-cell-label{
  justify-content: center;
}

input {
  border      : none;
  border-width: 0;
  box-shadow  : none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/*.ag-header-group-cell-label, .ag-header-cell-label{
  justify-content: center;
}
/* Do not delete, might be usefull 
.ag-theme-material .ag-selection-checkbox:not(.ag-hidden)~.ag-cell-value:not(:empty) {
  margin-left: 12px;
}

.ag-header-cell-label .ag-header-cell-text {
  font-size: 12px;
  margin   : auto;
}*/
// set the colors to the ones from the material theme
/*.ag-theme-material .ag-header-cell {
 //background-color: rgba(189, 195, 199, 0.5);
}
.ag-theme-material .ag-icon-checkbox-unchecked {
  font-size: 15px;
}

.ag-theme-material .ag-icon-checkbox-checked {
  font-size: 15px;
}

.ag-theme-material .ag-icon-checkbox-indeterminate:before {
  font-size: 15px;

}
*/

/*
 * layout for carded-pages
 *
 */
#roomcontrol{
  ion-content{
    padding-top: 60px;
  }
 
}

#carded {
  margin-top  : 5px;
//  --background: #f5f5f5;

  .header-row {
    padding-top      : 6px;
    height           : 33px;
    //justify-content: center;
    //align-content: flex-start;
  }

  @media only screen and (max-width: 992px) {
    ion-card {
      //flex-grow: 1;
      height: 90%;
      border: medium;
      // display: grid;
      // grid-template-rows: 12%;
      ion-card-header {
        display : none; 
      }

      ion-card-content {
        padding-top    : 3px;
        height         : 100%;
        grid-column    : 1/1;
        overflow       : hidden;
        // border-width: 1px;
      }
    }
  }


  @media only screen and (min-width: 993px) {
    ion-card {
      //flex-grow: 1;
      height            : 93%;
      display: flex;
      flex-direction: column;
      //display           : grid;
      //grid-template-rows: 12%;

      ion-card-header {
        align-items: center;
      //  grid-row       : 1/2;
      //  height         : 100%;
        /* border-style: ridge;
        border-top     : none;
        border-left    : none;
        border-right   : none;*/
      }
      ion-card-content {
        padding-top  : 3px;
        grid-row     : 2/2;
        height       : 100%;
        grid-column  : 1/1;
        overflow     : hidden;
        border-style : ridge;
        border-bottom: none;
        border-left  : none;
        border-right : none;
        border-width : 1px;
      }
    }
  }
}


/*
 * error and short messages classes
 *
 *
 */

 .error-text{
  color: red;
  font-size: smaller;
 }