<ion-header class="no-print">
    <ion-toolbar>
        @if(title) {
        <ion-title>
            {{title}}
        </ion-title>
        }
        <ion-buttons slot="end">
            <ion-button (click)="print()">
                <ion-icon name="print"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <div [innerHTML]="printPage"></div>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title>{{instituteName}}</ion-title>
        <ion-label slot="end">CRANIX Solutions GmbH</ion-label>
        <img slot="end" src="assets/images/logo/cranix_school.svg" style="height: 32px; width: 32px;">
    </ion-toolbar>
</ion-footer>