<cranix-toolbar></cranix-toolbar>
<ion-row class="header-row"></ion-row>
<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="sets">
        <ion-icon name="hammer"></ion-icon>
        <ion-label>{{ 'Installation sets' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="status">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>{{ 'Installation status' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="packages">
        <ion-icon name="create"></ion-icon>
        <ion-label>{{ 'Packages' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
