<ion-card no-margin>
  <ion-card-header *ngIf="device">
    <ion-toolbar>
      <ion-label>
        {{device.name}} : {{userId | userIdToName}}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="openAction($event)">
          <ion-icon name="desktop"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content class="ion-justify-content-center">
    <img *ngIf="device" src="{{screenShot}}" />
    <h3 *ngIf="!device">{{ 'NODEVICE' | translate}}</h3>
  </ion-card-content>
</ion-card>