ion-card {
    //flex-grow: 1;
    height: 93%;
    display: flex;
    flex-direction: column;
    //#display: flex;
  //flex-direction: column;
  //justify-content: center;

  }

ion-card-content{
    scroll-behavior: auto;
    overflow-x: auto;
    overflow-y: auto;
}

mat-table {
    width: 100%;
    min-width: 700px !important;
}

mat-header-cell {
    text-align: left;
    max-width: 300px;
    padding: 10px;
}
mat-cell{
    padding: 10px;
}
