<cranix-toolbar title="{{'Manage customers' | translate}}"></cranix-toolbar>
<ion-content  *ngIf="!authService.isMD()">
  <ion-toolbar class="page-toolbar">
    <ion-item lines="none">
      <ion-label *ngIf="gridApi">
        #{{gridApi.getDisplayedRowCount()}}&nbsp;
      </ion-label>
      <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('customersFilter')"
        id="customersFilter">
      </ion-input>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
        matTooltip="{{'Create a new customer' | translate }}">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" (click)="redirectToAddInstitute($event)"
        matTooltip="{{'Create a new institute for the selected customer' | translate }}">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        <ion-icon slot="icon-only" name="business"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="solid" (click)="openCollums($event)"
        matTooltip="{{'Select the columns to show' | translate }}">
        <ion-icon slot="icon-only" name="apps"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ag-grid-angular
    id="agGridTable"
    style="width: 100%; height: 100%;"
    class="{{authService.settings.agGridThema}}"
    rowSelection="multiple"
    [rowHeight]="authService.settings.rowHeight"
    [rowData]="objectService.allObjects['customer']"
    [columnDefs]="columnDefs"
    [context]="context"
    [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <cranix-md-list objectType="customer" [context]="context"></cranix-md-list>
</ion-content>
