<div cdkDropList [id]="id" cdkDropListOrientation="horizontal" [cdkDropListConnectedTo]="this.eduS.dropLists"
  (cdkDropListDropped)="drop($event)">
  <!-- ion-card class="example-box" no-margin [cdkDragData]="device" cdkDrag (cdkDragStarted)="stopRefresh()" -->
  <ion-card no-margin [cdkDragData]="device" cdkDrag (cdkDragStarted)="stopRefresh()" [cdkDragDisabled]="!device">
    <img *cdkDragPreview
      src="data:image/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACRklEQVRoge2YXVPTQBSGHwSu9D/pBUVbNIJQFQEdvPIX+wXy0TKMOnitaYN4sbtjkk2TPcmWTYc8M2cmaXL2nNNNzr4b6OhYWAbaFpo+8BuIgeeBc6nNAPgD3GiLgc2gGdVgg2wRxibAi4B5idhGJZwvwlgCvAmWnSM7lBeRLmYvUI6VRMCU6iKMTbVP6xhh/+tFM5E+P/cV/J6vgYDl1PE1cFBwz4G+ZljxGN8bEWpWTvi/ZuRnBH3tBDUbz3wFX/I10Axucudzi+fz0QpKV0jbuHOFbKI60gilaF05Sx2fCvw2gAtUZ/Omml+SXbFHAt8+MNb2ROA3JqsAhgLfQraxZYekkLpc5GJOdC612MIWgIn+fd5sYcuZSZ3Yfez9RALs+8rUgSH20zBB8M48Re3mXFWssY/AQ0Gij7SPNE6scyzlMWqPLR3c2FdBIccN4sTkdFq+/d6nmSJdFdzbZA1bBh5U3fQK2QbJ2BjZGtPH7k4ulugcnWj8onnAW8PZx26BMbDuK9MSetgNp1HXfIfa0aUH/Nw4zWq+5GJeA2+bDvqebDHHAt8ecKRtTeB3TraIQ4FvKXvAT+ASmWZKJ3RWcW+aCLjStuvi0G1120ZXSNvoCilgAHwDPqHa7ix6qHXiFAcVe9ssAd/JKoAIWydFZFfsH8y/c4r5hS1niuR3+vwqSKYVmA/Urip21ofuVnCIWzF/gQ+BcnRml/L9TIISowvBa4qLSfCgYm+b/Ie9hBa/E1WYmZki2J62lSEePnl2dATiH9QGVle4d2GeAAAAAElFTkSuQmCC"
      alt="moving">
    <div *ngIf="device">
      <ion-card-header style="padding: 1px;">
        <ion-toolbar style="padding: 1px;">
          <ion-label>
            {{device.name}} : {{ device.loggedInName }}
          </ion-label>
          <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openAction($event)">
              <ion-icon name="desktop"></ion-icon>
            </ion-button>
            <ion-button cdkDragHandle fill="clear">
              <ion-icon name="expand-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="ion-justify-content-center">
        <form>
          <button (click)="showScreen()">
            <img src="{{screenShot}}" />
          </button>
        </form>
      </ion-card-content>
    </div>
    <div *ngIf="!device">
      <ion-card-header style="padding: 1px;">
        <ion-toolbar style="padding: 1px;">
          <ion-buttons slot="end" disabled="true">
            <ion-button fill="clear">
              <ion-icon name="contract-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-card-header>
      <ion-card-content class="ion-justify-content-center">
        <h3>{{ 'NODEVICE' | translate}}</h3>
      </ion-card-content>
    </div>
  </ion-card>
</div>