<cranix-toolbar title="{{'Manage CRANIX 2FA' | translate}}"></cranix-toolbar>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title>{{'Configure your 2FA envinroment' | translate }}</ion-card-title>
        <!-- ion-buttons *ngIf="!authService.isMD()" slot="end">
          <ion-button (click)="save()">
            <ion-icon name="checkmark" color="success"></ion-icon>
          </ion-button>
          <ion-button (click)="delete2fa()">
            <ion-icon name="trash" color="danger"></ion-icon>
          </ion-button>
        </ion-buttons -->
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <form #my2faForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-label>{{'Type of 2FA'|translate}}</ion-label>
            <ion-select style="width: 180px;" [(ngModel)]="crx2fa.crx2faType" name="crx2faType"
              (ionChange)="changeType()">
              <ion-select-option *ngFor="let type of crx2faTypes" [value]="type">{{type|translate}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label style="width: 230px;">{{'timeStep'|translate}}</ion-label>
            <ion-input [(ngModel)]="crx2fa.timeStep" name="timeStep" type="number" min="30" [max]="maxTimeStep"
              style="max-width: 80px; margin-right: 10px; margin-left: auto;" required
              [readonly]="crx2fa.crx2faType == 'TOTP' && crx2fa.id"></ion-input>
            <ion-label style="width: 100px;">{{'Seconds'|translate}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label style="width: 230px;">{{'validHours'|translate}}</ion-label>
            <ion-input [(ngModel)]="crx2fa.validHours" name="validHours" type="number" min="1" max="24"
              style="max-width: 80px; margin-right: 10px; margin-left: auto;" required></ion-input>
            <ion-label style="width: 100px;">{{'Hours'|translate}}</ion-label>
          </ion-item>
          <ion-item *ngIf="crx2fa.crx2faType == 'MAIL'">
            <ion-label style="width: 230px;">{{'Email Address'|translate}}</ion-label>
            <ion-input [(ngModel)]="crx2fa.crx2faAddress" name="crx2faAddress" type="email"
              placeholder="email@domain.com"></ion-input>
          </ion-item>
          <ion-item *ngIf="crx2fa.crx2faType == 'SMS'">
            <ion-label style="width: 230px;">{{'Telephone number'|translate}}</ion-label>
            <ion-input [(ngModel)]="crx2fa.crx2faAddress" name="crx2faAddress" type="tel"
              placeholder="888-888-8888"></ion-input>
          </ion-item>
          <ion-item *ngIf="crx2fa.crx2faType == 'TOTP' && crx2fa.id">
            <ion-label style="width: 230px;">{{'Serial'|translate}}</ion-label>
            <ion-input readonly="true">{{crx2fa.serial}}</ion-input>
          </ion-item>
          <ion-item *ngIf="crx2fa.crx2faType == 'TOTP' && crx2fa.id">
            <img src="{{crx2fa.crx2faAddress}}"  width="400" height="400"/>
          </ion-item>
          <ion-item lines="none">
            <ion-button *ngIf="!crx2fa.id && crx2fa.crx2faType == 'TOTP'; else elseBlock" style="margin: auto;"
              expand="full" (click)="save()" [disabled]="!my2faForm.valid">
              {{'Generate QRCode'| translate}}
            </ion-button>
            <ng-template #elseBlock>
              <ion-button style="margin: auto;" expand="full" (click)="save()" [disabled]="!my2faForm.valid">
                <ion-icon name="checkmark" color="success"></ion-icon>
              </ion-button>
            </ng-template>
            <ion-button *ngIf="crx2fa.id" style="margin: auto;" expand="full" (click)="delete2fa()"
              [disabled]="!crx2fa.id">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
  <ol>
    <li>{{'Select the type of your CRANIX 2FA Type'|translate}}</li>
    <li>{{'Set the validity of a PIN in seconds'|translate}}. min: 30 max: {{crx2fa.crx2faType == 'TOTP' ? '60':'600'}}
    </li>
    <li>{{'Set the validity of a 2FA session in hours'|translate}}. min: 1 max: 24</li>
    <li>{{'It is recomended to setup all 2FA types'|translate}}</li>
    <div *ngIf="crx2fa.crx2faType == 'MAIL'">
      <li>{{'Insert you email address'|translate}}</li>
      <li>{{'You can modify all paramater later.'|translate}}</li>
    </div>
    <div *ngIf="crx2fa.crx2faType == 'TOTP'">
      <li>{{'Download the privacyIDEA or Google Autenticator app to your mobil device.'|translate}}
        <ion-item lines="none">
          <ion-label *ngIf="platformService.isBrowser" style="text-align: right; max-width: 80px;">iOS:</ion-label>
          <ion-label *ngIf="platformService.IOS || platformService.isBrowser" style="max-width: 100px;">
            <a href="https://apps.apple.com/app/id1445401301" target="_blank">
              <picture title="privacyIDEA Autenticator App">
                <img src="/assets/images/logo/privacyIDEA.webp" width="40" height="40">
              </picture>
            </a>
            <a fill="clear" href="https://apps.apple.com/app/id388497605" target="_blank">
              <picture title="google Autenticator App">
                <img src="/assets/images/logo/googleAuth.webp" width="40" height="40">
              </picture>
            </a>
          </ion-label>
          <ion-label *ngIf="platformService.isBrowser" style="text-align: right; max-width: 80px;">Android:</ion-label>
          <ion-label *ngIf="platformService.ANDROID  || platformService.isBrowser" style="max-width: 100px;">
            <a href="https://play.google.com/store/apps/details?id=it.netknights.piauthenticator" target="_blank">
              <picture title="privacyIDEA Autenticator App">
                <img src="/assets/images/logo/privacyIDEA.webp" width="40" height="40">
              </picture>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
              target="_blank">
              <picture title="google Autenticator App">
                <img src="/assets/images/logo/googleAuth.webp" width="40" height="40">
              </picture>
            </a>
          </ion-label>
        </ion-item>
      </li>
      <li>{{'Generate a QRCode on this page.'|translate}}</li>
      <li>{{'Import (scan) the QRCode with your Autenticator app.'|translate}}</li>
      <li>{{'If you have trouble with your app delete the QRCode and generate it again.'|translate}}</li>
      <li>{{'If you have lost your mobile device delete the QRCode and generate it again.'|translate}}</li>
      <li>{{'After you have created your QRCode you can only modify the how long a 2FA session is
        available.'|translate}}</li>
        
    </div>
    <li>{{'Please note that you cannot delete the 2FA configuration that you used to log in yourself.'|translate}}</li>
  </ol>
</ion-content>