<cranix-toolbar></cranix-toolbar>
<ion-content id="carded">
  <ion-row class="header-row">
    <ion-col size=6>
      <ion-title>{{'Status of the Services' | translate}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-card>
    <ion-header>
      <ion-row>
        <ion-col class="sub-header-row">
          <ion-label>{{ 'Name' | translate}}</ion-label>
        </ion-col>
        <ion-col class="sub-header-row">
          <ion-label>{{ 'enabled' | translate }}</ion-label>
        </ion-col>
        <ion-col class="sub-header-row">
          <ion-label>{{ 'active' | translate }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-header>
    <ion-content>
      <ion-grid *ngIf="servicesStatus">
        <ion-row *ngFor="let service of servicesStatus">
          <ion-col [class]="service.enabled != 'true' ? 'neutral-row' : service.active == 'true' ? 'ok-row' : 'bad-row' ">
            <ion-label>{{service.service}}</ion-label>
          </ion-col>
          <ion-col [class]="service.enabled != 'true' ? 'neutral-row' : service.active == 'true' ? 'ok-row' : 'bad-row' ">
            <ion-checkbox [checked]="service.enabled =='true'"
            (ionChange)="togleStatus(service.service,'enabled')"></ion-checkbox>
          </ion-col>
          <ion-col [class]="service.enabled != 'true' ? 'neutral-row' : service.active == 'true' ? 'ok-row' : 'bad-row' ">
            <ion-checkbox [checked]="service.active =='true'"
            (ionChange)="togleStatus(service.service,'active')"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-card>
</ion-content>