<cranix-toolbar></cranix-toolbar>
<ion-content id="carded">
  <ion-row class="header-row">
    <ion-col size=6>
      <ion-title>{{ 'Manage proxy configuration' | translate}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button *ngIf="segment == 'positive'" (click)="redirectToEdit($event,null)">
        <ion-icon name="add-circle" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="segment == 'basic'" (click)="writeConfig()">
        <ion-icon color="success" name="checkmark-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="restartProxy()">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="12" size-lg="6" size-xl="6">
          <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="basic">
            <ion-segment-button value="basic">
              <ion-label>{{'Basic configuration' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="good">
              <ion-label>{{'White list' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="bad">
              <ion-label>{{'Black list' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="authService.session.name == 'cephalix'" value="cephalix">
              <ion-label>{{'Cephalix list' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="positive">
              <ion-label>{{'Positive lists' | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col offset="3" size="3" class="ion-align-self-center ion-text-end hidden-xs hidden-sm hidden-md">
          <ion-button *ngIf="segment == 'positive'" size="small" (click)="redirectToEdit($event,null)"
            matTooltip="{{'Create a new positive list.' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment != 'positive'" size="small" (click)="writeConfig()"
            matTooltip="{{'Write basic configuration.' | translate }}">
            <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="restartProxy()"
            matTooltip="{{'Restart proxy.' | translate }}">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
     <ag-grid-angular *ngIf="segment == 'basic'"
        style="width: 100%; height: 100%;"
        class="{{authService.settings.agGridThema}}"
        rowHeight="{{authService.settings.rowHeight}}"
        [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [context]="context"
        (gridReady)="proxyGridReady($event)"
        id="proxyGridTable">
      </ag-grid-angular>
      <ion-textarea  *ngIf="segment == 'good'" inputmode="url"  autoGrow="true" value="{{whiteList}}" id="good"></ion-textarea>
      <ion-textarea  *ngIf="segment == 'bad'" inputmode="url"  autoGrow="true" value="{{blackList}}" id="bad"></ion-textarea>
      <ion-textarea  *ngIf="segment == 'cephalix'" inputmode="url"  autoGrow="true" value="{{cephalixList}}" id="cephalix"></ion-textarea>
      <ion-grid  *ngIf="segment == 'positive'">
        <ion-row>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
