<form #setPasswordForm="ngForm" (ngSubmit)="onSubmit()">
  <ion-header translucent>
    <ion-toolbar>
      <ion-title *ngIf="!type">{{'Set password for the selected users' | translate}}</ion-title>
      <ion-title *ngIf="type">{{'Reset password' | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button type="submit" class="ion-no-margin" fill="clear" size="small"
          [disabled]="!setPasswordForm.valid || ( setPassword.password != setPassword.password2 )">
          <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
        </ion-button>
        <ion-button fill="clear" size="small" (click)="modalController.dismiss()">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">{{'New password' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="setPassword.password" name="password" required>
		<ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{'Repeat new password' | translate}}</ion-label>
        <ion-input type="password" [(ngModel)]="setPassword.password2" name="password2" required>
		<ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!type">
        <ion-label position="start">{{'mustChange' | translate}}</ion-label>
        <ion-checkbox position="end" [(ngModel)]="setPassword.mustChange" name="mustChange"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
</form>
