<cranix-toolbar title="{{'Manage printers' | translate}}"></cranix-toolbar>
<ion-toolbar *ngIf="!authService.isMD()" class="page-toolbar">
  <ion-item lines="none">
    <ion-label *ngIf="gridApi">
      #{{gridApi.getDisplayedRowCount()}}
    </ion-label>
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('printerFilter')"
      id="printerFilter">
    </ion-input>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button *ngIf="authService.isAllowed('printers.add')" size="small" fill="solid" (click)="addDevice($event)"
      matTooltip="{{'Create a new printer device' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button *ngIf="authService.isAllowed('printers.add')" size="small" fill="solid" (click)="addPrinter($event)"
      matTooltip="{{'Create a new printer queue' | translate }}">
      <ion-icon slot="icon-only" name="print"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openActions($event,null)"
      matTooltip="{{'Apply actions on the selected objects' | translate }}">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="openCollums($event)"
      matTooltip="{{'Select the columns to show' | translate }}">
      <ion-icon slot="icon-only" name="apps"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content *ngIf="!authService.isMD()" id="carded">
  <ag-grid-angular style="width: 100%; height:  100%;" class="{{authService.settings.agGridThema}}"
    rowSelection="multiple" rowHeight="{{authService.settings.rowHeight}}" [context]="context"
    [rowData]="objectService.allObjects['printer']" [columnDefs]="columnDefs"
    [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick" (selectionChanged)="selectionChanged()"
    (gridReady)="onGridReady($event)" id="agGridTable">
  </ag-grid-angular>
</ion-content>
<ion-content *ngIf="authService.isMD()">
  <cranix-md-list objectType="printer" [context]="context"></cranix-md-list>
</ion-content>
