<cranix-toolbar></cranix-toolbar>
<ion-content id=carded>
  <ion-row class="header-row">
    <ion-col size=6>
      <ion-title>{{ 'Manage access in the rooms' | translate}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button *ngIf="segment == 'list'" (click)="redirectToAddEdit($event,null)">
        <ion-icon name="add-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="restartFirewall()">
        <ion-icon name="refresh"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="12" size-lg="6" size-xl="6">
          <ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="list">
            <ion-segment-button value="list">
              <ion-label>{{'Room access rules' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="status">
              <ion-label>{{'Actual status' | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col offset="3" size="3" class="ion-align-self-center ion-text-end hidden-xs hidden-sm hidden-md">
          <ion-button *ngIf="segment == 'list'" size="small" (click)="redirectToAddEdit($event,null)"
            matTooltip="{{'Add new room access status.' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment == 'list'" size="small" (click)="delete()"
            matTooltip="{{'Delete selected access rules' | translate }}">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment == 'list'" size="small" (click)="createColumDef()"
            matTooltip="{{'Change grouping of the table' | translate }}">
            <ion-icon slot="icon-only" name="list"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="restartFirewall()" matTooltip="{{'Restart firewall.' | translate }}">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ag-grid-angular *ngIf="segment == 'list'" 
        #accessGrid style="width: 100%; height: 100%;"
        id="accessGridTable"
        class="{{authService.settings.agGridThema}}"
        [modules]="modules"
        [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
        rowSelection="multiple"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [autoGroupColumnDef]="autoGroupColumnDef"
        [animateRows]="true"
        [rowData]="rowData"
        [context]="context"
        [deltaColumnMode]="true"
        (gridReady)="accessGridReady($event)">
      </ag-grid-angular>
    </ion-card-content>
  </ion-card>
</ion-content>
