<cranix-toolbar></cranix-toolbar>
@if(isRegisterEventOpen){
<ion-toolbar class="page-toolbar">
    <ion-title>{{'Event Registrations'|translate}} {{selectedPTM.start|date:'yyyy-MM-dd'}}
        {{selectedPTM.start|date:'HH:mm'}} - {{selectedPTM.end|date:'HH:mm'}}</ion-title>
    <ion-buttons slot="end">
        <ion-button fill="clear" size="small" (click)="isRegisterEventOpen = false">
            <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-content>
    <cranix-ptm-view [id]="selectedPTM.id"></cranix-ptm-view>
</ion-content>
}
@else
{
<ion-segment (ionChange)="segmentChanged($event)" color="secondary" value="parents">
    <ion-segment-button value="parents">
        <ion-label>{{'Parents'|translate}}</ion-label>
    </ion-segment-button>
    <!-- ion-segment-button value="requests">
        <ion-label>{{'Requests'|translate}}</ion-label>
    </ion-segment-button -->
    <ion-segment-button value="ptm">
        <ion-label>{{'PTM'|translate}}</ion-label>
    </ion-segment-button>
</ion-segment>
@if(segment == 'ptm'){
<ion-content>
    <form #addEditPTMForm="ngForm">
        <ion-toolbar class="page-toolbar">
            @if(selectedPTM){
            @if(selectedPTM.id > 0){
            <ion-title>{{'Edit parent teacher meeting'|translate}} </ion-title>
            }@else{
            <ion-title>{{'Create parent teacher meeting'|translate}} </ion-title>
            }
            }@else{
            @if(loadingData){
            <ion-title>{{'Loading data'|translate}} ...</ion-title>
            }@else{
            <ion-title>{{'Select or create parent teacher meeting'|translate}}</ion-title>
            }
            }
            <ion-buttons slot="end">
                <ion-button (click)="getPTMSettings()" fill="solid" matTooltip="{{'Adapt PTM settings'|translate}}">
                    <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="isSelectPtmOpen = true" fill="solid" matTooltip="{{'Select PTM'|translate}}">
                    <ion-icon slot="icon-only" color="success" name="list-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="addEditPTM()" fill="solid" matTooltip="{{'Apply'|translate}}"
                    [disabled]="!addEditPTMForm.valid || !isUpcomming">
                    <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
                </ion-button>
                <ion-button (click)="selectPtm(null)" fill="solid"
                    matTooltip="{{'Create parent teacher meeting'|translate}}">
                    <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
                </ion-button>
                <ion-button (click)="sendMails()" fill="solid" [disabled]="!isUpcomming"
                    matTooltip="{{'Send mail to the parents'|translate}}">
                    <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="isRegisterEventOpen = true" fill="solid" [disabled]="!isUpcomming"
                    matTooltip="{{'Register students rooms and teachers for the PTM'|translate}}">
                    <ion-icon slot="icon-only" color="tertiary" name="people"></ion-icon>
                </ion-button>
                <ion-button (click)="presentDeleteAlert()" fill="solid" [disabled]="!selectedPTM || selectedPTM.id == 0"
                    matTooltip="{{'Remove PTM'|translate}}">
                    <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        @if(selectedPTM){
        <ion-list>
            <ion-item>
                <ion-input [(ngModel)]="selectedPTM.title" name="title" label="{{'Title'|translate}}*"
                    labelPlacement="fixed" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-toggle labelPlacement="start" [(ngModel)]="selectedPTM.released" name="released"
                    [enableOnOffLabels]="true">{{'Released'|translate}}</ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>{{'From'|translate}}*</ion-label>
                <input [(ngModel)]="selectedPTM.start" name="startTime" type="datetime-local" required
                    (change)="startTimeSet()" [disabled]="selectedPTM.ptmTeacherInRoomList.length > 0" />
            </ion-item>
            <ion-item>
                <ion-label>{{'Until'|translate}}*</ion-label>
                <input [(ngModel)]="selectedPTM.end" name="endTime" type="datetime-local" required
                    [disabled]="selectedPTM.ptmTeacherInRoomList.length > 0" />
            </ion-item>
            <ion-item>
                <ion-label>{{'Duration of a Session'|translate}}*</ion-label>
                <input [(ngModel)]="selectedPTM.duration" name="duration" type="number" required
                    [disabled]="selectedPTM.ptmTeacherInRoomList.length > 0" />
                <div slot="end">{{'Minutes'|translate}}</div>
            </ion-item>
            <ion-item>
                <ion-label>{{'Start Parent Registration'|translate}}*</ion-label>
                <input [(ngModel)]="selectedPTM.startRegistration" name="startRegistration" type="datetime-local"
                    required />
            </ion-item>
            <ion-item>
                <ion-label>{{'End Parent Registration'|translate}}*</ion-label>
                <input [(ngModel)]="selectedPTM.endRegistration" name="endRegistration" type="datetime-local"
                    required />
            </ion-item>
            @if(isUpcomming || selectedPTM.id == 0){
            <ion-item>
                <ion-label>{{'Select classes for the PTM' | translate}}</ion-label>
                <ionic-selectable #ionicSelectClasses itemValueField="id" itemTextField="name" [isMultiple]="true"
                    [(ngModel)]="selectedPTM.classes" [ngModelOptions]="{standalone: true}" [items]="classes"
                    [canSearch]="true">
                    <ng-template ionicSelectableHeaderTemplate>
                        <ion-header>
                            <ion-toolbar color="primary">
                                <ion-title>
                                    {{ "Select classes for the PTM" | translate }}
                                </ion-title>
                                <ion-buttons slot="end">
                                    <ion-button ion-button (click)="ionicSelectClasses.close()">
                                        <ion-icon color="danger" name="close"></ion-icon>
                                    </ion-button>
                                </ion-buttons>
                            </ion-toolbar>
                        </ion-header>
                    </ng-template>
                    <ng-template ionicSelectableValueTemplate let-ports="value">
                        <div class="ionic-selectable-value-item">
                            {{ports.length}} {{'classes are selected'|translate}}
                        </div>
                    </ng-template>
                </ionic-selectable>

            </ion-item>
            }
            @if(selectedPTM.id == 0 && formerPtms.length > 0) {
            <ion-item>
                <ion-select label="{{'Select template for room reservation'}}" [(ngModel)]="selectedPTM.templateId"
                    name="templateId">
                    <ion-select-option *ngFor="let ptm of formerPtms" [value]="ptm.id">{{ptm.title}}</ion-select-option>
                </ion-select>
            </ion-item>
            }
        </ion-list>
        }
    </form>
</ion-content>
}@else{
<ion-toolbar class="page-toolbar">
    <ion-item lines="none">
        <ion-label *ngIf="gridApi">
            #{{gridApi.getDisplayedRowCount()}}
        </ion-label>
        <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged('parentsFilter')"
            id="parentsFilter">
        </ion-input>
    </ion-item>
    <ion-buttons slot="end">
        <ion-button size="small" fill="solid" (click)="redirectToEdit(null)"
            matTooltip="{{'Create a new parent' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-content>
    <ag-grid-angular style="width: 100%; height: 100%;" class="{{authService.settings.agGridThema}}"
        rowSelection="multiple" [rowHeight]="authService.settings.rowHeight"
        [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick" [rowData]="rowData"
        [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [context]="context" (gridReady)="onGridReady($event)"
        id="agGridTable">
    </ag-grid-angular>
</ion-content>
}
}

<ion-modal [isOpen]="isAddEditParentOpen">
    <ng-template>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title></ion-title>
                <ion-buttons slot="end">
                    <ion-button class="ion-no-margin" (click)="addEditParent()">
                        <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" (click)="isAddEditParentOpen = false">
                        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>
                    <ion-input label="{{'surName'|translate}}" labelPlacement="fixed"
                        [(ngModel)]="selectedParent.surName" name="surName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input label="{{'givenName'|translate}}" labelPlacement="fixed"
                        [(ngModel)]="selectedParent.givenName" name="givenName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input label="{{'emailAddress'|translate}}" labelPlacement="fixed"
                        [(ngModel)]="selectedParent.emailAddress" name="emailAddress"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input label="{{'telefonNumber'|translate}}" labelPlacement="fixed"
                        [(ngModel)]="selectedParent.telefonNumber" name="telefonNumber"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>{{'Select children for the parent' | translate}}</ion-label>
                    <cranix-search objectType="user" [(ngModel)]="selectedChildren" name="selectedChildren"
                        [items]="children"></cranix-search>
                    <!-- ionic-selectable #ionicSelectChildren itemValueField="id" itemTextField="fullName"
                        [isMultiple]="true" [(ngModel)]="selectedChildren" [ngModelOptions]="{standalone: true}"
                        [items]="children" [canSearch]="true" groupValueField="classes" groupTextField="classes">
                        <ng-template ionicSelectableHeaderTemplate>
                            <ion-header>
                                <ion-toolbar color="primary">
                                    <ion-title>
                                        {{ "Select children for the parent" | translate }}: {{selectedParent.surName}}
                                    </ion-title>
                                    <ion-buttons slot="end">
                                        <ion-button ion-button (click)="ionicSelectChildren.close()">
                                            <ion-icon color="danger" name="close"></ion-icon>
                                        </ion-button>
                                    </ion-buttons>
                                </ion-toolbar>
                            </ion-header>
                        </ng-template>
                    </ionic-selectable -->
                </ion-item>
            </ion-list>
        </ion-content>
    </ng-template>
</ion-modal>
<ion-modal [isOpen]="isSelectPtmOpen">
    <ng-template>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>{{'Select PTM'|translate}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button fill="clear" size="small" (click)="isSelectPtmOpen = false">
                        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-header lines="full">{{'Upcoming PTMs'|translate}}:</ion-header>
                <ion-item *ngFor="let ptm of nextPtms">
                    <ion-button fill="clear" expand="block" (click)="selectPtm(ptm)">{{ptm.start|date:'yyyy-MM-dd'}}:
                        {{ptm.title}}</ion-button>
                </ion-item>
            </ion-list>
            @if(formerPtms.length > 0) {
            <ion-list>
                <ion-header lines="full">{{'Former PTMs'|translate}}:</ion-header>
                <ion-item *ngFor="let ptm of formerPtms">
                    <ion-button fill="clear" expand="block" (click)="selectPtm(ptm)">{{ptm.start|date:'yyyy-MM-dd'}}:
                        {{ptm.title}}</ion-button>
                </ion-item>
            </ion-list>
            }
        </ion-content>
    </ng-template>
</ion-modal>
<ion-modal #ptmManagementSetting [isOpen]="isPtmSettingsOpen" [backdropDismiss]="false">
    <ng-template>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>{{'PTM Management settings'|translate}}</ion-title>
                <ion-buttons slot="end">
                    <ion-button fill="clear" size="small" (click)="setPTMSettings(1,ptmManagementSetting)">
                        <ion-icon slot="icon-only" color="success" name="checkmark"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" (click)="setPTMSettings(0,ptmManagementSetting)">
                        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>
                    <ion-select [(ngModel)]="ptmSettings.ALLOW_MULTI_USE_OF_ROOMS" name="ALLOW_MULTI_USE_OF_ROOMS"
                        label="{{'Allow multi use of rooms.'|translate}}">
                        <ion-select-option value="yes">yes</ion-select-option>
                        <ion-select-option value="no">no</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-select [(ngModel)]="ptmSettings.SEND_NOTIFICATION_TO_STUDENTS"
                        name="SEND_NOTIFICATION_TO_STUDENTS"
                        label="{{'Send notifications to the email addresses of the students.'|translate}}">
                        <ion-select-option value="yes">yes</ion-select-option>
                        <ion-select-option value="no">no</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-select [(ngModel)]="ptmSettings.DELAY_BETWEEN_EMAILS" name="DELAY_BETWEEN_EMAILS"
                        label="{{'Delay between sending two emails.'|translate}}">
                        <div slot="end">{{'second(s)'|translate}}</div>
                        <ion-select-option value="1">1</ion-select-option>
                        <ion-select-option value="2">2</ion-select-option>
                        <ion-select-option value="3">3</ion-select-option>
                        <ion-select-option value="4">4</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-input [(ngModel)]="ptmSettings.SENDER_ADDRESS" name="SENDER_ADDRESS" type="email"
                        label="{{'Sender address'|translate}}:" inputmode="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input [(ngModel)]="ptmSettings.LetterSubjectTemplate" name="LetterSubjectTemplate"
                        labelPlacement="stacked">
                        <div slot="label"><b>{{'Mail subject template'|translate}}:</b></div>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-textarea [(ngModel)]="ptmSettings.LetterStudentTemplate" name="LetterStudentTemplate"
                        labelPlacement="stacked" [autoGrow]="true">
                        <div slot="label"><b>{{'Mail template for students'|translate}}:</b></div>
                    </ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-textarea [(ngModel)]="ptmSettings.LetterParentTemplate" name="LetterParentTemplate"
                        labelPlacement="stacked" [autoGrow]="true">
                        <div slot="label"><b>{{'Mail template for parents'|translate}}:</b></div>
                    </ion-textarea>
                </ion-item>
            </ion-list>
        </ion-content>
    </ng-template>
</ion-modal>