<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ title | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-no-margin"  fill="clear" size="small" (click)="onSubmit()">
        <ion-icon slot="icon-only" color="success" name="checkmark-sharp"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small" (click)="modalController.dismiss()">
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{'New quota in MB'| translate}}</ion-label>
      <ion-input type="number" [(ngModel)]="quota" name="quota" required>
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>