<cranix-toolbar title="{{ 'Manage DNS Filter Configuration' | translate}}"></cranix-toolbar>
<ion-toolbar class="page-toolbar">
  <ion-title *ngIf="saving">
    "{{'The configuration will be saved'|translate}}"
  </ion-title>
  <ion-buttons *ngIf="!authService.isMD()" slot="end">
    <ion-button size="small" fill="solid" (click)="writeConfig()" [disabled]="saving"
      matTooltip="{{'Save DNS-Confiugration and restart'| translate }}">
      <ion-icon slot="icon-only" name="checkmark" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-segment  *ngIf="authService.isMD()" (ionChange)="segmentChanged($event)" color="secondary" value="categories">
    <ion-segment-button value="good">
      <ion-icon name="happy" color="success"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="bad">
      <ion-icon name="sad" color="danger"></ion-icon>
    </ion-segment-button>
    <ion-segment-button *ngIf="authService.session.name == 'cephalix'" value="cephalix">
      <img src="assets/images/logo/cranix_school.svg" width="30">
    </ion-segment-button>
    <ion-segment-button value="categories">
      <ion-icon name="stop-circle" color="danger"></ion-icon>
    </ion-segment-button><ion-segment-button value="safesearch">
      <ion-icon name="happy" color="success"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-item-divider *ngIf="!authService.isMD()"></ion-item-divider>
<ion-content>
  <ion-fab *ngIf="authService.isMD()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button fill="clear" (click)="writeConfig()" [disabled]="saving">
        <ion-icon name="checkmark" color="success"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!authService.isMD() || segment=='good'" size="authService.isMD() ? 12 : 3">
        <ion-list>
          <ion-item lines="none">
            <H1>{{'Own White List'|translate}}</H1>
          </ion-item>
          <form #addNewDomain1Form="ngForm">
            <ion-item>
              <ion-input [(ngModel)]="newDomain1" name="newDomain1"
                placeholder="{{'Enter a new domain name'| translate}}" pattern="[a-z0-9.-]+\.[a-z]{2,}$">
              </ion-input>
              <ion-button fill="clear" slot="end" (click)="addNewDomain1()"
                [disabled]="!addNewDomain1Form.valid || saving">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
          <ion-item *ngFor="let dom of whiteList; index as i">
            <ion-label class="label-max-width">{{dom}}</ion-label>
            <ion-button fill="clear" slot="end" (click)="deleteDomain1(i)" [disabled]="saving">
              <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="!authService.isMD() || segment=='bad'" size="authService.isMD() ? 12 : 3">
        <ion-list>
          <ion-item lines="none">
            <H1>{{'Own Black List'|translate}}</H1>
          </ion-item>
          <form #addNewDomainForm="ngForm">
            <ion-item>
              <ion-input [(ngModel)]="newDomain" name="newDomain" placeholder="{{'Enter a new domain name'| translate}}"
                pattern="[a-z0-9.-]+\.[a-z]{2,}$">
              </ion-input>
              <ion-button fill="clear" slot="end" (click)="addNewDomain()"
                [disabled]="!addNewDomainForm.valid || saving">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
          <ion-item *ngFor="let dom of badList; index as i">
            <ion-label class="label-max-width">{{dom}}</ion-label>
            <ion-button fill="clear" slot="end" (click)="deleteDomain(i)" [disabled]="saving">
              <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="authService.session.name == 'cephalix' && (!authService.isMD() || segment=='cephalix')"
        size="authService.isMD() ? 12 : 3">
        <ion-list>
          <ion-item lines="none">
            <H2>{{'CEPHALIX List'|translate}}</H2>
          </ion-item>
          <form #addNewDomainForm="ngForm">
            <ion-item>
              <ion-input [(ngModel)]="newDomain" name="newDomain" placeholder="{{'Enter a new domain name'| translate}}"
                pattern="[a-z0-9.-]+\.[a-z]{2,}$">
              </ion-input>
              <ion-button fill="clear" slot="end" (click)="addNewDomain()"
                [disabled]="!addNewDomainForm.valid || saving">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
          <ion-item *ngFor="let dom of cephalixList; index as i">
            <ion-label class="label-max-width">{{dom}}</ion-label>
            <ion-button fill="clear" slot="end" (click)="deleteDomain(i)" [disabled]="saving">
              <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="!authService.isMD() || segment=='categories'" size="authService.isMD() ? 12 : 3">
        <ion-list>
          <ion-item lines="none">
            <H2>{{'Denied Categories'|translate}}</H2>
          </ion-item>
          <div *ngFor="let category of categories">
            <ion-item>
              <ion-label matTooltip="{{category.description}}">{{category.desc}}</ion-label>
              <ion-checkbox slot="end" (ionChange)="togleCategory(category.name)" [disabled]="saving"
                [checked]="activeUnboundLists.indexOf(category.name) != -1"></ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
      <ion-col *ngIf="!authService.isMD() || segment=='safesearch'" size="authService.isMD() ? 12 : 3">
        <ion-list>
          <ion-item lines="none">

            <H2>{{'Activate SafeSearch'|translate}}</H2>
          </ion-item>
          <div *ngFor="let safe of safeSearchList; index as i">
            <ion-item>
              <ion-label>{{safe.description}}</ion-label>
              <ion-checkbox slot="end" 
                (ionChange)="safeSearchList[i].active = !safeSearchList[i].active" [disabled]="saving"
                [checked]="safe.active"></ion-checkbox>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
