
  <ion-header translucent>
  <ion-toolbar>
    <ion-title>{{  objectActionTitle | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="closeWindow()" disabled="{{editForm.disabled}}">
        <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding" *ngFor="let key of objectKeys" [ngSwitch]="typeOf(key)">
      <ion-item *ngSwitchCase="'booleanTrue'">
        <ion-label>{{ key | translate }}</ion-label>
        <ion-toggle slot="start" formControlName="{{key}}" color="secondary" checked></ion-toggle>
      </ion-item>
      <ion-item *ngSwitchCase="'booleanFalse'">
        <ion-label>{{ key | translate }}</ion-label>
        <ion-toggle slot="start" formControlName="{{key}}" color="secondary"></ion-toggle>
      </ion-item>
      <ion-item *ngSwitchCase="'string'">
        <ion-label position="stacked">{{ key | translate }}{{required[key]}}</ion-label>
        <!--ion-item *ngIf="editForm.controls[key].hasError('required') && editForm.controls[key].touched"-->
        <ion-label position="stacked" *ngIf="editForm.controls[key].hasError('required')  && editForm.controls[key].touched">{{ 'This field is required!' | translate }}</ion-label>
        <ng-template [ngIf]="objectService.selects[key]"  [ngIfElse]="elseBlock">
            <ion-select type="text" formControlName="{{key}}"  [compareWith]="compareFn" [required]="required[key]">
            <ion-select-option *ngFor="let option of  objectService.selects[key]" value="{{option}}">{{option | translate}}</ion-select-option>
          </ion-select>
        </ng-template>
        <ng-template #elseBlock>
          <ion-input type="text" formControlName="{{key}}" value="{{object[key]}}" [required]="required[key]"></ion-input>
        </ng-template>
      </ion-item>
      <ion-item *ngSwitchCase="'stringRO'">
        <ion-label position="stacked">{{ key | translate }}</ion-label>
        <ion-input color="tertiary" type="text" formControlName="{{key}}" value="{{object[key]}}" readonly></ion-input>
      </ion-item>
      <ion-item *ngSwitchCase="'date'">
        <ion-label>{{ key | translate }}</ion-label>
        <ion-datetime formControlName="{{key}}" cancel-text="{{ 'cancel' | translate }}"
          done-text="{{'apply' | translate }}" max="2100" value="{{object[key] | date:'yyyy-MM-dd'}}"></ion-datetime>
      </ion-item>
      <ion-item *ngSwitchCase="'date-time'">
        <ion-label>{{ key | translate }}</ion-label>
        <ion-datetime formControlName="{{key}}" cancel-text="{{ 'cancel' | translate }}"
          done-text="{{'apply' | translate }}" max="2100" value="{{object[key] | date:'yyyy-MM-dd HH:mm:ss Z'}}">
        </ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding ion-text-center">
      <ion-button type="submit" class="ion-no-margin" [disabled]="!editForm.valid">{{ objectAction | translate }}</ion-button>
    </div>
  </form>
</ion-content>

