/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

/* AgGrifd */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
/* do not import dark styles
@import "~ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
*/

/* Custom */
//@import "theme/ion-custom.scss"; 
@import "theme/cranix-custom.scss";
@import "theme/fonts.css";

@media only screen and (min-width: 768px) and (min-height: 768px) {
  .modal-wrapper {
    --height: 85%;
    --width : 70%;
  }
  .medium-modal .modal-wrapper {
    --height: 85%;
    --width : 600px;
  }
  .small-modal .modal-wrapper {
    --height: 400px;
    --width : 600px;
  }
}

ion-content ion-segment {
  margin: 5px 0;
}

ion-select {
  width: 100% ;
  white-space: normal !important;

}
.sc-ion-alert-md{
  white-space: normal !important;

}

/* ion-segment-button {
  background-color: lightgrey;
} */
/*
:root {
  ion-tab-button.tab-selected {
    ion-icon,
    ion-label {
      color           : var(--ion-color-secondary) !important;
      --ion-color-base: var(--ion-color-secondary) !important;
    }
  }
}*/
/*.ag-theme-material .ag-icon-checkbox-unchecked{
    
    font-size: 15px;
}
.ag-theme-material .ag-icon-checkbox-checked{
    
    font-size: 15px;
}
.ag-theme-material .ag-header-row:first-child .ag-header-cell{

    padding-left: 4px;
}
.ag-theme-material .ag-selection-checkbox:not(.ag-hidden) ~ .ag-cell-value:not(:empty){
    margin-left: 12px;
}
.ag-header-cell-label .ag-header-cell-text{

    font-size: 12px;
    margin: auto;
}


ion-card {
    //flex-grow: 1;
    height: 93%;
    display: grid;
    grid-template-rows: 12%;
    ion-card-header{
        grid-row: 1/2;
        height: 100%;
    }
    ion-card-content {
    grid-row: 2/2;
    height: 100%;
    grid-column: 1/1;
    overflow: hidden;
    
 //   align-content: center;
}
    //flex-direction: column;
    //#display: flex;
  //flex-direction: column;
  //justify-content: center;
    
  }
*/
