<cranix-toolbar></cranix-toolbar>
<ion-content id="carded">
  <ion-row class="header-row">
    <ion-col size=6>
      <ion-title>{{ 'Manage firewall configuration' | translate}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="hidden-lg hidden-xl">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button size="small" (click)="applyChanges()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="segment == 'out'" (click)="addOutgoinRule()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="segment == 'out'" (click)="deleteOutgoinRule()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="segment == 'remote'" size="small" (click)="addRemoteRule()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="segment == 'remote'" size="small" (click)="deleteRemoteRule()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="restartFirewall()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="stopFirewall()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size="12" size-lg="8" size-xl="">
          <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" color="secondary" value="in">
            <ion-segment-button value="in" layout="icon-start">
              <ion-label class="hidden-xs hidden-sm">{{'Incoming rules' | translate}}</ion-label>
              <ion-icon name="log-in"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="out" layout="icon-end">
              <ion-label class="hidden-xs hidden-sm">{{'Outgoing rules' | translate}}</ion-label>
              <ion-icon name="log-out"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="remote" layout="icon-start">
              <ion-label class="hidden-xs hidden-sm">{{'Remote access' | translate}}</ion-label>
              <ion-icon name="shuffle"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col  size="4" class="ion-align-self-center ion-text-end hidden-xs hidden-sm hidden-md">
          <ion-button size="small" (click)="applyChanges()" matTooltip="{{'Apply changes' | translate }}">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment == 'out'" size="small" (click)="addOutgoinRule()"
            matTooltip="{{'Add outgoing rule' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment == 'out'" size="small" (click)="deleteOutgoinRule()"
            matTooltip="{{'Delete selected outgoing rule' | translate }}">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment == 'remote'" size="small" (click)="addRemoteRule()"
            matTooltip="{{'Add remote access rule' | translate }}">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
          <ion-button *ngIf="segment == 'remote'" size="small" (click)="deleteRemoteRule()"
            matTooltip="{{'Delete selected remote access rule' | translate }}">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="restartFirewall()" matTooltip="{{'Restart firewall' | translate }}">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="stopFirewall()" matTooltip="{{'Stop firewall' | translate }}">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-grid *ngIf="segment == 'in' && securityService.incomingRules">
        <ion-row>
          <ion-col size=2>
            <ion-item>
              <ion-label>{{ 'ssh access' | translate }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size=2>
            <ion-item lines="none">
              <ion-checkbox slot="start" color="secondary" checked="{{securityService.incomingRules.ssh}}"
                id="incoming-ssh" (ionChange)="incomingChanged()">
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=2>
            <ion-item>
              <ion-label>{{'admin access' | translate}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size=2>
            <ion-item lines="none">
              <ion-checkbox slot="start" color="secondary" checked="{{securityService.incomingRules.admin}}"
                id="incoming-admin" (ionChange)="incomingChanged()">
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=2>
            <ion-item>
              <ion-label>{{'https access' | translate}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size=2>
            <ion-item lines="none">
              <ion-checkbox slot="start" color="secondary" checked="{{securityService.incomingRules.https}}"
                id="incoming-https"  (ionChange)="incomingChanged()">
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=2>
            <ion-item>
              <ion-label>{{'rdesktop access' | translate}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size=9>
            <ion-item lines="none">
              <ion-checkbox slot="start" color="secondary" checked="{{securityService.incomingRules.rdesktop}}"
                id="incoming-rdesktop" (ionChange)="incomingChanged()">
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size=2>
            <ion-item>
              <ion-label>{{'open other ports' | translate}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size=10>
            <ion-item>
              <ion-input type="text" value="{{securityService.incomingRules.other}}" id="incoming-other" (ionChange)="incomingChanged()">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ag-grid-angular *ngIf="segment == 'out'" style="width: 100%; height: 100%;"
        class="{{authService.settings.agGridThema}}" [rowData]="securityService.outgoingRules" 
        [columnDefs]="outColumnDefs" [defaultColDef]="defaultColDef" [context]="context" rowSelection="multiple" 
        [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
        (gridReady)="outGridReady($event)" (selectionChanged)="outSelectionChanged()" [deltaColumnMode]="true"
        id="outGridTable">
      </ag-grid-angular>
      <ag-grid-angular *ngIf="segment == 'remote'" style="width: 100%; height: 100%;"
        class="{{authService.settings.agGridThema}}" [rowData]="securityService.remoteRules"
        [columnDefs]="remoteColumnDefs" [context]="context" rowSelection="multiple" 
        [rowMultiSelectWithClick]="authService.settings.rowMultiSelectWithClick"
        (gridReady)="remoteGridReady($event)" (selectionChanged)="remoteSelectionChanged()" id="remoteGridTable">
      </ag-grid-angular>
    </ion-card-content>
  </ion-card>
</ion-content>
