<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-row class="header-row">
  <ion-col size=12>
    <ion-title>{{ 'Modify members of selected group' | translate}}: "{{group.name}}" {{group.description}}
      {{group.groupType | translate}}
    </ion-title>
  </ion-col>
</ion-row>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size=12 sizeMd=12 sizeLg=5 sizeXl=5>
            <ion-item>
              <ion-label position="stacked">{{ 'Members of the group:' | translate }}</ion-label>
              <ion-input type="text" placeholder="{{'search' | translate }}" (input)="onMemberFilterChanged()"
                id="memberFilter"></ion-input>
            </ion-item>
            <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [gridOptions]="memberOptions"
              [rowData]="memberData" [columnDefs]="columnDefs" [context]="context" [rowSelection]="memberSelection"
              (gridReady)="onMemberReady($event)" (selectionChanged)="onMemberSelectionChanged()" id="memberTable">
            </ag-grid-angular>
          </ion-col>
          <ion-col size=12 sizeMd=12 sizeLg=1 sizeXl=1>
            <ion-item lines="none">
              <ion-label position="stacked"> </ion-label>
              <ion-button slot="" size="small" (click)="applyChanges()"
                matTooltip="{{'add remove selected users to/from the group' | translate }}">
                <ion-icon slot="icon-only" name="code-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
          <ion-col size=12 sizeMd=12 sizeLg=5 sizeXl=5>
            <ion-item>
              <ion-label position="stacked">{{ 'Available members:' | translate }}</ion-label>
              <ion-input type="text" placeholder="{{'search' | translate }}" (input)="onNoMemberFilterChanged()"
                id="nonMemberFilter">
              </ion-input>
            </ion-item>
            <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [gridOptions]="noMemberOptions"
              [rowData]="noMemberData" [columnDefs]="columnDefs" [context]="context" [rowSelection]="noMemberSelection"
              (gridReady)="onNoMemberReady($event)" (selectionChanged)="onNoMemberSelectionChanged()"
              id="noMemberTable">
            </ag-grid-angular>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
