<cranix-toolbar title="{{'Manage yourself' | translate}}"></cranix-toolbar>
<ion-content *ngIf="mySelf" color="light">
  <h1>{{mySelf.givenName}} {{ mySelf.surName}}</h1> {{mySelf.role | translate}}
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label>
        <h2>{{ mySelf.birthDay | date:'yyyy-MM-dd'}}</h2>
        <h3>{{ 'birthDay' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>
        <h2>{{ mySelf.givenName }}</h2>
        <h3>{{ 'givenName' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>
        <h2>{{ mySelf.surName }}</h2>
        <h3>{{ 'surName' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="folder"></ion-icon>
      <ion-label>
        <h2>{{ 'Used' | translate }} {{ mySelf.fsQuotaUsed }} {{ 'of' | translate }} {{ mySelf.fsQuota}} MB</h2>
        <h3>{{ 'fsQuota' | translate}}</h3>
      </ion-label>
    </ion-item>
    @if(idRequestUse){
    <ion-item>
      <ion-icon slot="start" name="id-card"></ion-icon>
      <ion-label>{{'ID Card'|translate}}</ion-label>
      @if(myIdRequest.allowed){
      <ion-button fill="clear" [href]="myIdRequest.googleUrl">
        <ion-icon slot="icon-only" name="google-add-wallet" style="height: 15mm; width: 40mm;"></ion-icon>
      </ion-button>
      <ion-button fill="clear" [href]="myIdRequest.appleUrl">
        <ion-icon slot="icon-only" name="apple-add-wallet" style="height: 15mm; width: 40mm;"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="large" (click)="deleteId()">
        <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
      </ion-button>
      }@else{
      @if(myIdRequest.comment){
        <ion-label>
          <h2>{{'Reviewer comment:'|translate}}</h2>
          <h3>{{myIdRequest.comment}}</h3>
        </ion-label>
        
      }
      @if(picture){
      <img [src]="picture">
      }
      <ion-button fill="clear" size="large" (click)="takePhoto()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="large" (click)="findPhoto()">
        <ion-icon slot="icon-only" name="images"></ion-icon>
      </ion-button>
      <!-- ion-input label="{{'Upload foto'}}" type="file" (change)="uploadImage($event)"></ion-input -->
      }
    </ion-item>
    }
    <ion-item lines="none">
      <ion-button (click)="openChangePW()">
        {{ 'Reset password' | translate }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>