<cranix-toolbar title="{{'Manage yourself' | translate}}"></cranix-toolbar>
<ion-content *ngIf="mySelf">
  <h1>{{mySelf.givenName}} {{ mySelf.surName}}</h1> {{mySelf.role | translate}}
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label>
        <h2>{{ mySelf.birthDay | date:'yyyy-MM-dd'}}</h2>
        <h3>{{ 'birthDay' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>
        <h2>{{ mySelf.givenName }}</h2>
        <h3>{{ 'givenName' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>
        <h2>{{ mySelf.surName }}</h2>
        <h3>{{ 'surName' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="folder"></ion-icon>
      <ion-label>
        <h2>{{ 'Used' | translate }} {{ mySelf.fsQuotaUsed }} {{ 'of' | translate }} {{ mySelf.fsQuota}} MB</h2>
        <h3>{{ 'fsQuota' | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="openChangePW()">
        {{ 'Reset password' | translate }}
      </ion-button>
    </ion-item>
    @if(myIdRequest){
    @if(myIdRequest.id == 0){
      <ion-item>
        <ion-label>{{'Upload foto'}}</ion-label>
        <ion-input type="file" (change)="onFilesAdded($event)"></ion-input>
        <ion-button (click)="takePhoto(realestate)">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-item>
    }@else if(myIdRequest.allowed)
    }
  </ion-list>
</ion-content>