<ion-toolbar *ngIf="!authService.isMD()" class="page-toolbar">
  <ion-item lines="none">
    <ion-input placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged()" id="filterMD">
    </ion-input>
  </ion-item>
  <ion-buttons *ngIf="objectType != 'challenges/todo'" slot="end">
    <ion-button size="small" fill="solid" (click)="context.componentParent.redirectToEdit(null)"
      matTooltip="{{'Create a new object' | translate }}">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
    <ion-button size="small" fill="solid" (click)="context.componentParent.openActions($event,null)"
      matTooltip="{{'Apply actions on the selected objects' | translate }}">
      <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
    <ion-button *ngIf="objectType == 'challenge'" size="small" fill="solid" (click)="context.componentParent.showAllChallenges()"
      matTooltip="{{ 'Show all challenges' | translate }}">
      <ion-icon slot="icon-only" name="apps"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-item *ngIf="authService.isMD()">
  <ion-button size="small" fill="clear" (click)="back()" [disabled]="min <= 0">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    {{ min + 2 }}
  </ion-button>
  <ion-searchbar placeholder="{{'search' | translate }}" (input)="onQuickFilterChanged()" id="filterMD"></ion-searchbar>
  <ion-button size="small" fill="clear" (click)="forward()" [disabled]="max >= rowData.length">
    {{ max }}
    <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
  </ion-button>
</ion-item>
<!-- ion-content -->
<ion-fab *ngIf="authService.isMD()" vertical="center" horizontal="end">
  <ion-fab-button size="small">
    <ion-icon name="arrow-forward-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="context.componentParent.openActions($event,null)">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="objectType == 'printer'">
      <ion-icon name="add-circle" (click)="context.componentParent.addDevice($event)"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="objectType == 'printer'">
      <ion-icon name="print-outline" (click)="context.componentParent.addPrinter($event)" disabled></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="objectType != 'printer'" (click)="context.componentParent.redirectToEdit(null)">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<ion-list>
  <div *ngFor="let object of rowData; let i = index">
    <ion-item-sliding *ngIf="i > min && i < max">
      <ion-item style="background-color : {{authService.rowColors[i%2]}}">
        <ion-note *ngIf="objectType != 'challenges/todo'" slot="start">
          <ion-checkbox (click)="$event.stopPropagation()" (ionChange)="checkChange($event,object)"></ion-checkbox>
        </ion-note>
        <ion-label (click)="context.componentParent.redirectToEdit(object)">
          <h3>{{ object[left1] }}</h3>
          <h5>{{ object[left2] }} {{ object[left3] }}</h5>
        </ion-label>
        <ion-label *ngIf="objectType == 'customer'">
          <h4>{{ object.contact }}</h4>
          <h4>{{ object.telephone }}</h4>
        </ion-label>
        <ion-label *ngIf="objectType == 'device'">
          <h5>{{ object.mac }}</h5>
          <h5>{{ object.hwconfId | idToName:'hwconf' }}</h5>
          <!-- h5>{{ object.roomId | idToName:'room' }}</h5 -->
        </ion-label>
        <ion-label *ngIf="objectType.indexOf('group') != -1">
          <h5>{{ object.groupType | translate }}</h5>
        </ion-label>
        <ion-label *ngIf="objectType == 'hwconf'">
          <h5>{{ object.hwconfType | translate }}</h5>
        </ion-label>
        <ion-label *ngIf="objectType == 'institute'">
          <h4>{{ object.locality }}</h4>
          <h4>{{ object.instituteType | translate }}</h4>
        </ion-label>
        <ion-label *ngIf="objectType == 'printer'">
          <h5>{{ object.model }}</h5>
          <h5>{{ object.activeJobs }}</h5>
        </ion-label>
        <ion-label *ngIf="objectType.indexOf('room') != -1">
          <h5>{{ object.roomType | translate }}</h5>
          <h5>{{ object.roomControl | translate }}</h5>
          <h5 *ngIf="object.hwconfId">{{ object.hwconfId | idToName:'hwconf' }}</h5>
        </ion-label>
        <ion-label *ngIf="objectType.indexOf('user') != -1">
          <h5>{{ object.role | translate }}</h5>
          <h5>{{ object.classes }}</h5>
        </ion-label>
        <ion-item  *ngIf="objectType == 'challenge' && object.creatorId == authService.session.userId">
          <div *ngIf="object.released && object.groups.length">{{objectService.formatGroups(object.groups)}}</div>
          <div *ngIf="object.released && object.users.length">{{objectService.formatUsers(object.users)}}</div>
          <ion-buttons slot="end">
            <ion-button *ngIf="object.released" (click)="context.componentParent.stopAndArchive(object)" matTooltip="{{'Stop and evaluate challenge and archive the results.'|translate}}">
              <ion-icon slot="icon-only" name="stop-circle-outline" color="danger"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!object.released" (click)="context.componentParent.assign(object)" matTooltip="{{'Assign and start challenge.'|translate}}">
              <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="context.componentParent.getArchives(object.id)" matTooltip="{{'Manage the archived results of this challange.'|translate}}">
              <ion-icon slot="icon-only" name="archive"></ion-icon>
            </ion-button>
            <ion-button *ngIf="!object.released" (click)="context.componentParent.deleteChallenge(object.id)" matTooltip="{{'Delete challenge.'|translate}}">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="objectType == 'institute' && object.ipVPN && object.ipVPN != ''" color="secondary"
          (click)="context.componentParent.routeInstitute(object)">
          <ion-icon slot="icon-only" name="create-outline" style="height:15px;width:15px"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="objectType == 'room' || objectType == 'device'" color="warning"
          (click)="context.componentParent.setDhcp(object)">
          <ion-icon slot="icon-only" name="server"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="objectType == 'room' || objectType == 'device'"
          (click)="context.componentParent.setPrinters(object)">
          <ion-icon slot="icon-only" name="print"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="objectType == 'room'" color="success" (click)="context.componentParent.devices(object)">
          <ion-icon slot="icon-only" name="desktop"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="objectType == 'user'" (click)="context.componentParent.redirectToGroups(object)">
          <ion-icon slot="icon-only" name="people"></ion-icon>
        </ion-item-option>
        <ion-item-option
          *ngIf="objectType.indexOf('group') != -1 && (authService.isAllowed('group.modify') || authService.session.userId == object.ownerId)"
          (click)="context.componentParent.redirectToMembers(object)">
          <ion-icon slot="icon-only" name="people-circle"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary" (click)="context.componentParent.openActions($event,object)">
          <ion-icon slot="icon-only" name="ellipsis-vertical-sharp"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="authService.session.userId == object.ownerId || authService.isAllowed(objectType + '.delete')" color="danger" (click)="context.componentParent.redirectToDelete(object)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>
</ion-list>
<!-- /ion-content -->
