<cranix-toolbar title="{{'Manage tickets' | translate}}"></cranix-toolbar>
<ion-content *ngIf="ticket">
  <ion-card>
    <ion-card-header>
      <ion-card-title>#{{ticket.id}} {{ticket.title}} {{ticket.recDate | date:'yy-MM-dd HH:mm'}}</ion-card-title>
      <ion-toolbar>
        <ion-card-subtitle>
          {{ institute.name }}
          {{ institute.regCode }}
          {{ institute.ipVPN }}<br>
          {{ticket.email}}: {{ticket.lastname}},{{ticket.firstname}}
        </ion-card-subtitle>
        <ion-buttons slot="end">
          <ion-button *ngIf="institute.ipVPN && institute.ipVPN != ''" color="secondary" fill="clear" size="small"
            (click)="routeSchool($event)" matTooltip="{{'Connect the institute in a separate window.' | translate }}">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="router.navigate(['/pages/cephalix/tickets'])">
            <ion-icon slot="icon-only" name="caret-back"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="assigneTicketToMe()">
            <ion-icon color="warning" slot="icon-only" name="lock-closed"></ion-icon>
          </ion-button>
          <ion-button fill="clear" matTooltip="{{'Close the ticket.' | translate }}"
            (click)="objectService.deleteObjectDialog(this.ticket, 'ticket', '/pages/cephalix/tickets')">
            <ion-icon color="danger" slot="icon-only" name="checkmark-done-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content  style="padding: 5px; padding-top: 0px;">
      <ion-grid style="padding: 0px;">
        <ion-row>
          <ion-col style="padding: 0px;">
            <ion-item lines="none">
              <ion-label position="stacked">{{'Ticket Owner'| translate}}</ion-label>
              <ionic-selectable #selectTicketOwner item-content [(ngModel)]="ticketOwner"
                [ngModelOptions]="{standalone: true}" [items]="ticketWorkers" itemValueField="id" itemTextField="label"
                [canSearch]="true" (onChange)="setOwner()">
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-title>
                      {{ "Select the owner of the ticket" | translate }}
                    </ion-title>
                    <ion-buttons slot="end">
                      <ion-button ion-button (click)="selectTicketOwner.close()">
                        <ion-icon color="danger" name="close"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemIconTemplate>
                  <div></div>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
          <ion-col style="padding: 0px;">
            <ion-item lines="none">
              <ion-label position="stacked">{{'Institute'| translate}}</ion-label>
              <ionic-selectable #selectInstitute item-content [(ngModel)]="instObject"
                [ngModelOptions]="{standalone: true}" [items]="institutes" itemValueField="id" itemTextField="label"
                [canSearch]="true" (onChange)="setInstitute()">
                <ng-template ionicSelectableHeaderTemplate>
                  <ion-toolbar>
                    <ion-title>
                      {{ "Select the institute of the ticket" | translate }}
                    </ion-title>
                    <ion-buttons slot="end">
                      <ion-button ion-button (click)="selectInstitute.close()">
                        <ion-icon color="danger" name="close"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ng-template>
                <ng-template ionicSelectableItemIconTemplate>
                  <div></div>
                </ng-template>
              </ionic-selectable>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let article of articles">
    <ion-card-header>
      <ion-toolbar>
        <ion-card-subtitle [color]="article.articleType == 'O' ? 'warning' : article.seen ? 'success' : 'danger'">
          {{article.recDate | date:'yyyy-MM-dd HH:mm'}}
          <ion-icon *ngIf="article.articleType == 'O'" name="play-back"></ion-icon>
          <ion-icon *ngIf="article.articleType == 'I'" name="play-forward"></ion-icon>
        </ion-card-subtitle>
        <ion-buttons slot="end">
          <div *ngFor="let picture of article.pictures">
            <ion-button size="small" fill="clear" target="_blank" [href]="picture">
              <ion-icon slot="icon-only" name="download"></ion-icon>
            </ion-button>
          </div>
          <ion-button *ngIf="article.articleType == 'I'" [color]="article.seen ? 'success' : 'danger'" fill="clear"
            (click)="setSeenOnArticle(article)" matTooltip="{{'Set article as seen.' | translate }}">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-button>
          <ion-button *ngIf="article.articleType == 'I'" fill="clear" (click)="answerArticle(article)"
            matTooltip="{{'Answer the article.' | translate }}">
            <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
          </ion-button>
          <ion-button *ngIf="article.articleType == 'O'" fill="clear" (click)="answerArticle(article)"
            matTooltip="{{'Edit the answer and resend it.' | translate }}">
            <ion-icon slot="icon-only" name="build-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="toggleArticle(article.id)"
            matTooltip="{{'Open or close the article.' | translate }}">
            <ion-icon *ngIf="!articleOpen[article.id]" slot="icon-only" name="mail-open"></ion-icon>
            <ion-icon *ngIf="articleOpen[article.id]" slot="icon-only" name="mail"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="deleteArticle(article)">
            <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content style="height: 50px; padding: 5px; padding-top: 0px;" [id]="'article' + article.id">
      <ng-template [ngIf]="isHTML(article.text)" [ngIfElse]="textArea">
        <div [innerHTML]="article.text"></div>
      </ng-template>
      <ng-template #textArea>
        <div [innerText]="article.text"></div>
      </ng-template>
      <!-- quill-view-html style="padding: 0px;" [content]="article.text" format="text" theme="snow"></quill-view-html -->
    </ion-card-content>
  </ion-card>
</ion-content>